@mixin blockAll() {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// List helper
// ------------------------------------------------------------------------ //

.list-nostyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-inside {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

.list-inline > li {
    display: inline-block;
}

.list-inblock {
    > li {
        display: inline-block;
        padding: $space/2;
        margin-bottom: $space/2;
    }
}

.list-inblock--small {
    > li {
        display: inline-block;
        padding: $space/4;
        margin-bottom: $space/4;
    }
}

.list-dash {
    @extend .list-nostyle;

    > li {
        display: inline-block;
    }

    > li:not(:last-child):after {
        content: '/';
    }
}

.list-col-2 {
    padding:0px;
    // list-style: none;
    list-style-position: inside;
    > li {
        // padding-left: 20px;
        position: relative;

        // &:before {
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     width: 6px;
        //     height: 6px;
        //     background: $black40;
        //     left: $space/4;
        //     top: $space/3;
        //     border-radius: 50%;
        // }
    }

    @media #{$medium} {
        display: flex;
        flex-wrap: wrap;
        li {
            padding-right: $space;
            width: 50%;
        }
    }
}

.list-step-arrow {
    padding: 0;
    list-style: none;

    li {
        position: relative;
        margin-bottom: $space/2;

        &:not(:first-child) {
            padding-top: $space*1.5;
        }

        &:not(:first-child):before {
            @extend .fa;
            content: "\f063";
            position: absolute;
            font-size: 24px;
            top: $space/2;
        }

        span {
            display: block;
            border: 2px solid lighten($red_brand,20%);
            padding: $space/4;
        }
    }

    @media #{$medium} {
        display: flex;
        // margin-left: -40px;
        flex-wrap: wrap;

        li:not(:first-child) {
            padding-top: 0;
            padding-left: 40px;
        }

        li:not(:first-child):before {
            transform: translateX($space * -1) rotate(-90deg);
        }

        li {
            // padding-left: 40px;
            // flex: 1;
        }
    }
}

.list-iconic {
    > li {
        display: flex;
        align-items: center;
        margin-bottom: $space/2;
    }

    .item-icon {
        width: 32px;
        text-align: center;
        margin-right: $space/3;
        font-size: 32px;
        flex-shrink: 0;
    }
}

.list-iconic--circle {
    > li {
        align-items: flex-start;
    }

    .item-icon {
        font-size: 18px;
        width: 36px;
        height: 36px;
        line-height: 34px;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 2px 7px rgba($black,0.3);
        border: 1px solid $black20;
        color: $blue_brand;
    }
}

.list-check {
    padding: 0;
    list-style: none;
}

.list-check__item {
    display: flex;
    margin-bottom: $space/2;

    &:before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        background-image: url('../img/icon-check--black.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 8px;
    }
}

// Typography helper
// ------------------------------------------------------------------------ //
small {
    display: inline-block;
    line-height: (1.6 * .9) *1em;
}

.text-serif {
    font-family: serif;
}
.text-script {
    font-family: 'Oleo Script', 'Brush Script MT', 'Brush Script Std', cursive;
    font-weight: 400;
}
.t--top {
    vertical-align: top;
}
.t--middle {
    vertical-align: middle;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-right--l {
    @media #{$large} {
        text-align: right;
    }
}

.break-all {
    word-break: break-all;
}

.text-ellipsis {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.m-center {
    text-align: center;

    @media #{$large} {
        text-align: left;
    }
}

.nowrap {
    white-space: nowrap;
}

$max_line      : 5 !default;

@for $i from 1 through $max_line {

    .ellipsis-#{$i} {
        $line   : 1.6em;
        display: block;
        display: -webkit-box;
        line-height: $line;
        height: $line * $i;
        overflow: hidden;
        line-clamp: $i;
        -webkit-line-clamp: $i;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;

        .title & {
            $line   : 1.2em;
            line-height: $line;
            height: $line * $i;
        }
    }

}

.text--small, .t--small {
    font-size: .6em;
}

.text--smaller, .t--smaller  {
    font-size: .8em;
}

.text--larger, .t--larger {
    font-size: 1.25em;
}

.t--larger-l {
    @media #{$large} {
        font-size: 1.15em;
    }
}

.text--large, .t--large {
    font-size: 1.5em;
}

.t--huge, .text--huge {
    font-size: 2em;
}

.t--hero {
    font-size: 2em;
    @media #{$medium} {
        font-size: (58/15) * 1em;
    }
}

.t-strong, .t-bold {
    font-weight: 700;
}

.t-normal {
    font-weight: 400;
}

.text-up {
    text-transform: uppercase;
}

.t--indent {
    padding-left: $space;
}

.line--1 {
    line-height: 1.05;
}

.line--small, .line--small > * {
    line-height: 1.2;
}

.line--40 {
    line-height: 30px;

    @media #{$medium} {
        line-height: 38px;
    }
}

.text-blue, .i--blue {
    color: $blue_brand !important;
}

.text-white, .t-white {
    color: #FFF;
}

.t-yellow {
    color: $yellow_brand;
}

.text-red {
    color: $red_brand;
}

.text-grey {
    color: $black40;
}

.text-pink {
    color: $pink_brand;
}

.t-switch-red-yellow {
    color: $red_brand;

    @media #{$large} {
        color: $yellow_brand;
    }
}

.link-black, .t-black {
    color: $black80 !important;
}

.link-white, .btn.link-white {
    color: #FFF;

    &:hover, &:focus {
        color: lighten($link, 30%);
    }
}

//TITTLE
.title-group {
    display: flex;
    vertical-align: top;
    padding-bottom: $space/4;

    .title-icon {
        flex-shrink: 0;
        margin-right: $space/4;
        width: 1em;
        text-align: center;
    }

    .title-text {
        padding-top: $space/7;
    }
}

// Visual helper
// ------------------------------------------------------------------------ //
.on-m {
    @media #{$large} {
        display: none;
    }
}

.clearfix:after,
.cf:after {
    display: table;
    clear: both;
    content: '';
}

.hidden {
    display: none !important;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}

.is-sticky, .sticky {
    z-index: 2;
}

.is-sticky {
    // transform: translateX(-8px);
}

.is-block {
    display: block;
}

.full-v {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.no-space {
    margin: 0;
    padding: 0;
}

.visuallyhidden,
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.relative {
    position: relative;
}

.invisible {
    visibility: hidden;
}

.op-5 {
    opacity: .5;
}

.in-block {
    display: inline-block;
}

.block--double {
    margin-bottom: $space*2;
}

.block--half {
    margin-bottom: $space/2;
}

.block--small {
    margin-bottom: $space/4;
}


.s-block {
    display: block;
    width: 100%;

    @media #{$medium} {
        display: inline-block;
        width: auto;
    }
}

.space {
    margin: $space/2;
}

.space-right {
    margin-right: $space/2;
}

.pull-right {
    float: right;
}


.pull-right--l {
    @media #{$large} {
        float: right;
        margin-left: $space;

        &.pull-left {
            float: right;
        }
    }
}

.pull-left--l {
    @media #{$large} {
        float: right;
        margin-right: $space;
    }
}

.pull-right--m {
    @media #{$medium} {
        float: right;
        // margin-left: $space;

        &.pull-left {
            float: right;
        }
    }
}

.sp-b {
    padding-bottom: 8px;
}

.space-h {
    padding: 0 $space/2;
}

.img-full {
    max-width: none;
    width: 100%;
}

.is-mobile {
    @media #{$large} {
        display: none;
    }
}

.is-desktop {
    display: none;

    @media #{$large} {
        display: block;
    }
}

// FILL COLOR
.fill--overlap {
    position: relative;

    > * {
        position: relative;
        z-index: 2;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 105%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }


    @media #{$large} {
        &:before {
            width: 360%;
        }
    }
}

@mixin fill($bg, $color:$black80) {
    background-color: $bg;
    color: $color;

    &:before {
        background: $bg;
    }
}

.fill-none {
    background: none;
}

.fill-white {
    @include fill(#FFF)
}

.fill-blue, .fill-primary {
    @include fill($blue_brand, #FFF)
}

.fill-blue-yellow {
    @include fill($blue_brand, #FFF);

    border-left: 8px solid $yellow_brand;
    border-right: 8px solid $yellow_brand;
}

.fill-grey {
    @include fill($black60, #FFF)
}

.fill-grey-blue {
     @include fill($grey_blue, #FFF)
}

.fill-lightgrey {
    @include fill(#EEE)
}

.fill-softgrey {
    background-color: #f5f5f5;
}

.fill-yellow {
    @include fill($yellow_brand)
}

.fill-pink-light {
    @include fill($pink_light)
}

.fill-pink {
    background: $pink_brand;
}

.fill-green-light {
    @include fill($green_light)
}

.fill-lightblue {
    @include fill(lighten($blue_brand, 58%));
}

.fill-softtblue {
    @include fill(lighten($blue_brand, 67%));
}

.fill-red {
    @include fill($red_brand, #FFF);
}

.bg-grey {
    background-color: $black10;
}

.border {
    border: 1px solid rgba($black,0.15);
}

.border--round {
    border-radius: 4px;
}

.bg-white-capsule {
    display: inline-block;
    padding: 4px 12px;
    background: #FFF;
    border-radius: 40px;
    color: $blue_brand;
}

.shadowed {
    box-shadow: 0 1px 2px rgba($black, 0.1);
    position: relative;
    z-index: 2;
}

//

.section-block {
    margin-bottom: $space*2;

    @media #{$extra_large} {
        margin-bottom: $space*3;
    }
}

.section-block--smaller {
    margin-bottom: $space;

    @media #{$extra_large} {
        margin-bottom: $space*2;
    }
}

.section-block--inset {
    padding: $space 0;

    @media #{$large} {
        padding: $space*2 0;
    }
}

.block--inset {
    padding: $space;
}

.block--inset-v {
    padding: $space 0;
}

.block--inset-large {
    padding: $space;

    @media #{$medium} {
        padding: $space*2;
    }
}

.block--inset-small {
    padding: $space/2;
}

.block--inset-smallest {
    padding: $space/3;
}

.inset-on-m {
    padding: 0 $space;

    @media #{$medium} {
        padding: 0;
    }
}

.bg-section {
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    position: relative;
    overflow: hidden;

    .bg-section-img {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        max-width: none;
        object-fit: cover;
        object-position: center;
    }

    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        z-index: 0;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $black90;
        opacity: .31;
    }

    .content-section {
        position: relative;
        z-index: 3;
    }
}

.c-white {
    background: #FFF;
    border-radius: 50%;
}
.c-blue {
    background: $blue_brand !important;
    border-radius: 50%;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba($black,0.1);
}

.big-frame {
    box-shadow: 2px 2px 7px rgba($black, 0.15);
    > * {
        border: 5px solid #FFF;
    // box-shadow: inset 0 0 0 5px #FFF;
    }

    &.circle {
        // border: none;
    }

    &.circle > * {
        border-radius: 50%;
    }

    @media #{$medium} {
        // border-width: 10px;
        > * {
            border-width: 8px;
        }
    }
}

@mixin size($n) {
    width: $n;
    height: $n;
    flex-shrink: 0;
}

.size-32 {
    @include size(32px);
}

.size-64 {
    @include size(64px);
}

.size-150 {
    @include size(150px);
}

.hl-b {
    border-bottom: 1px solid $black20;
}

.hl-b-ds {
    border-bottom: 1px dashed $black30;
}

hr.hr-small {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

hr.hr-dash {
    border-style: dashed;
}

hr.hr-blue {
    border-color: $blue_brand;
    opacity: .6;
}

.img-contain {
    object-fit: contain;
    object-position: center;
}

// List icon
.info-iconic--left {
    display: flex;
    border-bottom: 1px solid $black10;
    padding: $space/2;
    margin-bottom: $space/2;

    .label-icon {
        padding-right: $space/2;
    }
}

.relative {
    position: relative;
}

$zs: 1, 2, 3, 4, 5, 6;

@each $z in $zs {
    .z-#{$z} { z-index: $z; }
}

// Sticky Trigger
.sticky-trigger {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px 0;
    z-index: 4;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
    transform: translateY(100%);

    &.is-fixed {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    @media #{$large} {
        display: none;
    }
}

.cards.sticky {
    position: relative;
}

.sticky-target {
    position: absolute;
    margin-top: -50px;
}

.one-page-nav-container {
    // transition: padding-top .3s linear;
}

// EMPTY STATE
.empty-state {
    display: none;
}

.badge-red {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 19px;
    text-align: center;
    background: $red_brand;
    display: inline-block;
    color: #FFF;
}

.code-badge--red {
    border-radius: 6px;
    border: 1px dashed darken($red_brand, 5%);
    background: lighten($red_brand, 32%);
    position: relative;
    color: darken($red_brand, 5%);
    white-space: nowrap;
    overflow: hidden;
    height: 46px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .badge__content {
        text-align: center;
        line-height: 1.1;

        strong, small {
            display: block;
        }
    }

    .badge__btn {
        position: absolute;
        width: 36px;
        height: 100%;
        top: 0;
        right: 0;
        font-size: 20px;
        color: lighten($red_brand, 5%);
        background: transparent;
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:hover {
            background: $red_brand;
            color: #FFF;
        }
    }
}
