.print-header {
    display: none;
    position: running(header);
}

@media print {
    * {
        background: transparent !important;
        // color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        font-size: 12px;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .no-break-inside {
        page-break-inside: avoid;
        padding-top: 0;
    }

    .bzg_c {
        display: inline-block;
    }

    .hidden-print {
        display: none !important;
    }

    .print-header {
        display: block;
        // position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        padding: 8px;
        height: 50px;
        // overflow: hidden;

        &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            border-bottom: 50px solid $blue_brand;
        }

        img {
            position: relative;
            z-index: 2;
            width: 60px;
        }
    }
}

@page {
    @top-center {
        content: element(header);
    }
}
