
// Typography
// ------------------------------------------------------------------------ //

$base_font_size     : 15px;
$base_line_height   : 1.6em;
$base_font_family   : -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
$space              : $base_line_height;



// Colors
// ------------------------------------------------------------------------ //

$black              : #000;
$black90            : lighten($black, 10%);
$black80            : lighten($black, 20%);
$black70            : lighten($black, 30%);
$black60            : lighten($black, 40%);
$black50            : lighten($black, 50%);
$black40            : lighten($black, 60%);
$black30            : lighten($black, 70%);
$black20            : lighten($black, 80%);
$black10            : lighten($black, 90%);
$black5            : lighten($black, 95%);

$blue_brand 		: #034f98;
$grey_blue			: #607d8b;
$red_brand 			: #f44336;
$pink_brand 		: #f05a8e;
$pink_light 		: #ffdfdf;
$green_light		: #e3f0d9;
$yellow_brand		: #ffeb3b;
$yellow_gold		: #DCA92F;
$green_brand		: #3DB52D;
$orange_brand 		: #ff9500;
$cyan_brand			: #009bbf;
$tosca_brand 		: #00ac9b;
$gold_brand 		: #c1a470;
$purple_brand 		: #8f76d6;
$brown_brand 		: #9c5e31;

$link               : #0094ed;
$link_hover         : darken($link, 10%);

$selection_bg       : #b3d4fc;
$selection_color    : $black;

$shadow             : 0 2px 9px rgba($black, 0.2);

// Break Points
// ------------------------------------------------------------------------ //

$smallest           : "screen and (min-width: 20em)";
$smallest_portrait  : "screen and (min-width: 20em) and (orientation: portrait)";
$smallest_landscape : "screen and (min-width: 20em) and (orientation: landscape)";

$small              : "screen and (min-width: 25em)";
$small_portrait     : "screen and (min-width: 25em) and (orientation: portrait)";
$small_landscape    : "screen and (min-width: 25em) and (orientation: landscape)";
$on_small           : "screen and (max-width: 48em)";

$medium             : "screen and (min-width: 48em)";
$medium_portrait    : "screen and (min-width: 48em) and (orientation: portrait)";
$medium_landscape   : "screen and (min-width: 48em) and (orientation: landscape)";
$on_medium          : "screen and (max-width: 67.5em)";

$large              : "screen and (min-width: 67.5em)";
$on_large           : "screen and (max-width: 90em)";
$extra_large        : "screen and (min-width: 90em)";

$large_short 		: "screen and (min-width: 72em) and (max-height: 664px)";

$retina             : "(-webkit-min-device-pixel-ratio: 1.3),
                       (min-resolution: 1.25dppx),
                       (min-resolution: 120dpi)";

