<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style type="text/css">

*{padding:0;margin:0;}
    
input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked~.remove-check {
  display: none;
}

input[type=checkbox]:checked~#email {
  display: block;
}
    
input[type=checkbox]:checked~#livechat {
  display: block;
  
}

#email {
  display: none;
}

#livechat {
  display: none;
}


.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float-whatsapp{z-index:100000;position: fixed;width: 60px;height: 60px;bottom: 185px;right: 30px;background-color: #139200;color: #FFF;border-radius: 50px;text-align: center;box-shadow: 2px 2px 3px #999;}

.float-livechat{z-index:100000;position: fixed;width: 60px;height: 60px;bottom: 110px;right: 30px;background-color: #002448;color: #FFF;border-radius: 50px;text-align: center;box-shadow: 2px 2px 3px #999;}
    
.my-float{
	font-size:24px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

.qcw-trigger-btn { display:none;}

</style>
<label for="reveal" class="fa fa-commenting my-float" style=""></label>
<input type="checkbox" id="reveal" role="button">
<div id="email"><a href="https://api.whatsapp.com/send?phone=6281141606060" target="_blank" class="float-whatsapp">
<i class="fa fa-whatsapp my-float"></i>
</a></div>
<input type="checkbox" id="reveal2" role="button">
<div id="livechat">
<a class="float-livechat" onClick="myFunction()">
<p class="fa fa-comments my-float"></p>
</a></div>
<script>function myFunction() {document.querySelector('.qcw-trigger-btn').click()}</script>


	
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var s,t; s = document.createElement('script'); s.type = 'text/javascript';
        s.src = 'https://s3-ap-southeast-1.amazonaws.com/qiscus-sdk/public/qismo/qismo-v2.js'; s.async = true;
        s.onload = s.onreadystatechange = function() { new Qismo("dup-avlebu2wx2zn1ukhg"); }
        t = document.getElementsByTagName('script')[0]; t.parentNode.insertBefore(s, t);
    });
</script>