.accordeon {
	.accordeon-trigger {
		position: relative;
		cursor: pointer;
		padding-left: $space*1.5;
		border-bottom: 1px dashed $black20;

		.title-icon {
			position: absolute;
			left: 0;
			top: $space/8;
		}

		&.no-icon {
			padding-left: 0;
		}

		&:hover {
			color: $red_brand;
		}

		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 6px solid $black50;
			position: absolute;
			top: $space/2;
			right: 0;
		}
	}

	.accordeon-trigger--grey {
		background: lighten($black10,5%);
		padding: $space/4;
		padding-left: $space*1.5;
		border-bottom-color: lighten($black10,5%);
		transition: border .4s ease;

		.title-icon {
			left: $space/3;
			top: $space/3;
		}

		&:after {
			right: $space/4;
		}
	}

	.accordeon-content {
		max-height: 0;
		padding-bottom: 0;
		padding-left: $space*1.5;
		overflow: hidden;
		transform: translateY(-15px);
		border-bottom: none;
		margin-bottom: $space/2;
	}

	.is-active {
		.accordeon-trigger {color: $red_brand;}

		.accordeon-trigger:after {
			transform: rotate(180deg);
			border-top-color: $red_brand;
		}

		.accordeon-content {
			max-height: none;
			transform: translateY(0);
			padding-bottom: $space;
			border-bottom-color: $black20;
		}
	}
}