.available-list {
	.list__item {
		position: relative;
		min-height: 48px;
		padding-left: 56px;
	}

	.item-img {
		position: absolute;
		display: block;
		width: 48px;
		height: 48px;
		top: 0;
		left: 0;
		background-image: url('../img/icon-available.png');
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-size: cover;
	}

	.unavailable {
		.item-img {
			background-position: 50% 100%;
		}
	}

	.item-text {
		text-transform: uppercase;
		min-height: 48px;
		padding: $space/2;
		text-align: center;
		border: 1px solid $black20;
		border-radius: 3px;
		font-weight: 700;
	}
}