/*! Baze Grid v2.0.2 | (c) 2014 @_bobbylie | https://github.com/ImBobby/Baze-Grid */

// Config
// --------------------------------------------------------------------------- */

$BZG_COUNT      : 12 !default;
$BZG_GUTTER     : 25 * 1px !default;
$BZG_SMALL      : 25 * 1em !default;
$BZG_MEDIUM     : 48 * 1em !default;
$BZG_LARGE      : 67.5 * 1em !default;

@function bzgSize($size) {
    @return $size / $BZG_COUNT * 100%;
}


// Style
// --------------------------------------------------------------------------- */

%bzg_clearfix:after {
    display: table;
    clear: both;
    content: '';
}

.bzg {
    @extend %bzg_clearfix;

    margin-left: $BZG_GUTTER * -1;
    box-sizing: border-box;
    display: block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .no-flexbox & {
        display: block;
    }

    figure {
        margin-bottom: 0;
    }
}

.bzg_c {
    // float: left;
    width: 100%;
    min-height: 1px;
    padding-left: $BZG_GUTTER;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 1;

    .no-flexbox & {
        float: left;
    }

    @media print {
        // float: left;
        display: inline-block;
    }
}

.bzg--no-gutter {
    margin-left: 0;

    > .bzg_c, .slick-track > .bzg_c {
        padding-left: 0;
    }
}

.bzg--small-gutter {
    margin-left: -16px;

    > .bzg_c, .slick-track > .bzg_c {
        padding-left: 16px;
    }

    &.slick-slider {
        margin-left: -8px;

        > .bzg_c, .slick-track > .bzg_c {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

.bzg--v-center {
    justify-content: center;
}

.bzg--reverse {
    flex-direction: row-reverse;
}

.bzg--lite-gutter {
    margin-left: -2px;

    > .bzg_c {
        padding-left: 2px;
    }
}

.bzg--big-gutter {
    @media #{$large} {
        margin-left: -80px;

        > .bzg_c {
            padding-left: 80px;
        }
    }
}

.bzg--half {
    > * {
        padding-left: $BZG_GUTTER;
    }

    @media #{$medium} {
        > * {
            width: 50%;
        }
    }
}

.bzg--fixed {
    @media #{$medium} {
        // flex: 1;
        // flex-wrap: nowrap;

        > .bzg_c {
            justify-content: center;
            // width: auto;
            // flex-grow: 1;
            // flex-shrink: 0;
        }
    }
}

.bzg--inset {
    margin-left: -10px;

    & > .bzg_c {
        padding: 10px 10px 10px 20px;
    }
}

@for $i from 1 through $BZG_COUNT {

    .bzg_c[data-col*="x#{$i}"] {
        width: bzgSize($i);
    }

    .bzg_c[data-offset*="x#{$i}"] {
        margin-left: bzgSize($i);
    }

}

@media screen and (min-width: #{$BZG_SMALL} ) {

    .bzg_c[data-col*="s"] {
        margin-left: 0;
    }

    @for $i from 1 through $BZG_COUNT {
        .bzg_c[data-col*="s#{$i}"] {
            width: bzgSize($i);
        }

        .bzg_c[data-offset*="s#{$i}"] {
            margin-left: bzgSize($i);
        }
    }
}

@media screen and (min-width: #{$BZG_MEDIUM} ) {

    .bzg_c[data-col*="m"] {
        margin-left: 0;
    }

    @for $i from 1 through $BZG_COUNT {
        .bzg_c[data-col*="m#{$i}"] {
            width: bzgSize($i);
        }

        .bzg_c[data-offset*="m#{$i}"] {
            margin-left: bzgSize($i);
        }
    }

}

@media screen and (min-width: #{$BZG_LARGE}) {

    .l-reverse {
        flex-direction: row-reverse;
    }

    .bzg_c[data-col*="l"] {
        margin-left: 0;
    }

    @for $i from 1 through $BZG_COUNT {
        .bzg_c[data-col*="l#{$i}"] {
            width: bzgSize($i);
        }

        .bzg_c[data-offset*="l#{$i}"] {
            margin-left: bzgSize($i);
        }
    }

}

@media #{$extra_large} {

    .bzg_c[data-col*="w"] {
        margin-left: 0;
    }

    @for $i from 1 through $BZG_COUNT {
        .bzg_c[data-col*="w#{$i}"] {
            width: bzgSize($i);
        }

        .bzg_c[data-offset*="w#{$i}"] {
            margin-left: bzgSize($i);
        }
    }

}