.side-nav {

}

.side-nav__item {
	a {
		display: block;
		padding: $space/2;
		font-weight: bold;
		color: $black70;
	}

	a:hover, a:focus {
		background: lighten($black10,7%);
	}

	&.is-active a {
		background: $blue_brand;
		color: #FFF;
	}
}

.profil-main {
	border: 1px solid $black10;
	border-top: none;
	height: 100%;
	overflow: hidden;
	
	.title {
		padding: $space/2;
		background-color: $blue_brand;
		color: #FFF;
	}
}

.booking-history {

	ul > li:not(:first-child) {
		border-top: 1px solid $black10;
	}


	.top-label {
		font-weight: bold;
	}

	.content {
		font-size: .9em;
	}

	.col-action {
		display: flex;

		.label-status {
			flex-grow: 1;
		}

		.btn-action {
			width: 20px;
			padding: $space/3 0;
			text-align: center;
			cursor: pointer;
			position: relative;
			vertical-align: bottom;
		}
	}

	.toggle-panel {
		max-height: 0px;
		overflow: hidden;
		padding-bottom: 0;
		transition: all .3s ease;
	}

	.is-active {
		.btn-action {
			transform: rotate(180deg);
		}

		.toggle-panel {
			max-height: 5000px;
			overflow-y: auto;
			padding-bottom: 10px;
		}
	}

	@media #{$large} {
		.top-label {
			background: $black10;
			padding-bottom: 10px;
			box-shadow: 10px -20px 0 20px $black10;
			margin-bottom: 8px;
		}

		ul > li {
			overflow: hidden;
		}

		ul > li:not(:first-child) .top-label {
			display: none;
		}
	}
}

.booking-details {
	background: lighten($black10,6%);
}

.booking-details__item {
	border-bottom: 1px solid $black20;
	@media #{$medium} {
		display: flex;
		border-bottom: none;

		.label, .input {
			border-bottom: 1px solid $black20;
			padding: 10px;
		}

		.label {
			margin-right: 25px;
			width: 30%;
		}

		.input {
			flex-grow: 1;
		}
	}
}


.list-traveler {
	font-weight: bold;
	counter-reset: traveler;

	.border {
		border-color: lighten($blue_brand,10%);
		position: relative;
		padding-left: $space*2;
	}

	.border:before {
		counter-increment: traveler;
  		content: counter(traveler)'.';
  		position: absolute;
  		top: $space/2;
  		left: $space/2;
  		width: 24px;
  		text-align: right;
	}

	table {
		margin-bottom: 0;
	}
}