
// http://goo.gl/E1YNsD

// Config
// ------------------------------------------------------------------------ //

$bread_space        : ($space / 4);
$bread_separator    : '/';


// Style
// ------------------------------------------------------------------------ //

/*ul*/.breadcrumb {
    padding: 0;
    padding-top: $space;
    list-style: none;
    text-transform: uppercase;

    &:after {
        display: table;
        clear: both;
        content: '';
    }

    > li {
        position: relative;
        float: left;

        a {
            color: $black80;
        }

        &:before {
            margin: 0 $bread_space;
            color: #444;
            content: $bread_separator;
        }

        &:first-child:before {
            display: none;
        }

        &:last-child a {
            color: $red_brand;
        }
    }
}