.sticky-footer-container.broken-page {
	padding-top: 0;
}

.broken-page {
	position: relative;
	font-size: 18px;
	font-weight: 900;
	color: $blue_brand;
	line-height: 1.2;

	p {
		line-height: 1.2;
	}

	.container {
		width: 80%;
		max-width: 400px;
	}

	.title-code {
		margin-top: 0;
		opacity: 1;
		line-height: 1;
		font-size: 6em;
		margin-bottom: 16px;
		font-weight: 900;
	}

	.site-logo {
		position: absolute;
		z-index: 3;
		display: block;
		width: 90px;
		top: $space/2;
		left: $space;
	}

	.page-bg {
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 100%;
	}

	.page-bg img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.page-content {
		position: relative;
		z-index: 2;
		padding: 100px 0;
	}

	@media #{$large} {
		.site-logo {
			width: 200px;
		}
	}
}

.broken-page .page-bg .bg-portrait {
	// 
}

.broken-page .page-bg .bg-landscape {
	opacity: 0;

	@media #{$small_landscape} {
		opacity: 1;
	}

	@media #{$medium_landscape} {
		opacity: 1;
	}

	@media #{$medium_portrait} {
		opacity: 0;
	}

	@media #{$large} {
		opacity: 1;
	}
}

