
// Setup
// ------------------------------------------------------------------------ //

$BTN_PADDING: ($space / 3) $space;
$BTN_PADDING_SMALLER: ($space/5) ($space/2);
$BTN_PADDING_LARGE: ($space / 1.5) $space;

@mixin btnStyle( $bg, $color: #fff ) {
    color: $color;
    background: $bg;
    border-color: $bg;

    &:hover,
    &:focus {
        background: lighten($bg, 10%);
        border-color: lighten($bg, 10%);
        color: $color;
    }
    
    // &.is-disabled,
    &[disabled] {
        opacity: .4;
        cursor: not-allowed;
    }
}

@mixin btnGhost( $bg, $text, $texthover ) {
    color: $text;
    background: transparent;
    border: 2px solid $bg;

    &.btn--smaller {
        border-width: 1px;
    }

    &:hover,
    &:focus, &.is-active {
        background: $bg;
        border-color: $bg;
        color: $texthover;
    }
    
    &[disabled] {
        opacity: .4;
        cursor: not-allowed;
    }
}


// Base Style
// ------------------------------------------------------------------------ //

.btn {
    display: inline-block;
    padding: $BTN_PADDING;
    border: 2px solid #ddd;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: $black80;
    background: #ddd;
    cursor: pointer;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
    }
}


// Modifier
// ------------------------------------------------------------------------ //

.btn--block {
    width: 100%;
}

.btn--smaller {
    padding: $BTN_PADDING_SMALLER;
}

.btn--plain {
    border: transparent;
    background: none;
    padding-left: $space/3;
    padding-right: $space/3;
}

.btn--plain-red {
    color: $red_brand;
}

.btn--large {
    padding: $BTN_PADDING_LARGE;
}

.btn--round {
    border-radius: 6px;
}

.btn--darkgrey {
    @include btnStyle($black50, #FFF);
}

.btn--grey {
    @include btnStyle($black20, $blue_brand);
}

.btn--red {
    @include btnStyle($red_brand, #FFF);
}

.btn--blue {
    @include btnStyle($blue_brand, #FFF);
}

.btn--yellow {
    @include btnStyle($yellow_brand, #FFF);
}

.btn--green {
    @include btnStyle($green_brand, #FFF);
}

.btn--pink {
    @include btnStyle($pink_brand, #FFF);
}

.btn--orange {
    @include btnStyle($orange_brand, #FFF);
}

.btn--facebook {
    @include btnStyle(#3b5998, #FFF);
}

.btn--google {
    @include btnStyle(#dd4b39, #FFF);
}

.btn--ghost {
    @include btnGhost($black30, $black70, #FFF);
}

.btn--ghost-white {
    @include btnGhost(#FFF, #FFF, $link);
}

.btn--ghost-red-black, .btn--ghost-red {
    @include btnGhost($red_brand, $black70, #FFF);
}

.btn--ghost-orange {
    @include btnGhost($orange_brand, $black70, #FFF);
}

.btn--square {
    padding: 0  0 99%;
    display: block;
    position: relative;
    white-space: normal;
    background: #FFF;

    & > * {
        position: absolute;
        display: block;
        width: 100%;
        padding: $space/2 $space/3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.btn--circle {
    border-radius: 50%;
}

.btn-to-top {
    position: fixed;
    z-index: 3;
    bottom: 20px;
    left: 2.5%;
    transform: translate(0, 200%) rotate(0deg);
    transition: all .5s ease;
    box-shadow: -4px 3px 12px rgba($black,0.1);
    border: 1px solid lighten($blue_brand, 5%);
    opacity: .7;
}
.btn-shadow {
    box-shadow: 0 2px 6px rgba($black, 0.6);
    position: relative;
    z-index: 2;
}
.sticky-length .btn-to-top {
    bottom: 100px;
    transform: translate(0, 300%) rotate(0deg);

    @media #{$medium} {
        bottom: 20px;
        transform: translate(0, 200%) rotate(0deg);
    }
}

.sticky-length .btn-to-top,
.btn-to-top {
    &.visible {
        transform: translate(0, 0) rotate(-90deg);

        @media #{$medium} {
            transform: translate(0, 0) rotate(-90deg);
        }
    }
}

.btn-label {
    display: inline-block;
    padding: $space/3 $space $space/3 0;
    padding-left: $space/1.25;
    cursor: pointer;
    position: relative;

    input {
        position: absolute;
        top: $space/1.8;
        left: 0;
    }

    &:hover {
        color: $blue_brand;
    }

    input:checked ~ .btn-label__text {
        color: $blue_brand;
        font-weight: 700;
    }
}

.btn--ghost-check {
    @include btnGhost($red_brand, $black70, #FFF);
    position: relative;
    padding: $space/4 $space;
    cursor: pointer;

    input, .bg-label {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    input {
        z-index: 3;
        cursor: pointer;
    }

    .btn-text {
        position: relative;
        z-index: 2;
    }

    .bg-label {
        background: $red_brand;
        opacity: 0;
    }

    input:checked ~ .bg-label {
        opacity: 1;
    }

    input:checked ~ .btn-text {
        color: #FFF;
    }
}

.btn-sort,
.btn-filter {
    position: relative;
    padding: $space/4 $space * 1.5 $space/4 $space/2;
    // padding-right:;

    &:before, &:after {
        
        line-height: 1;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        position: absolute;
        right: $space/2;
        top: 50%;
    }

    &:before {
        border-bottom: 8px solid #FFF;
        transform: translateY(-100%) scaleX(.6);
    }

    &:after {
        content: '';
        border-top: 8px solid #FFF;
    }
}

.btn-sort:before {
    content: '';
}

.btn-sort:after {
    transform: translateY(50%) scaleX(.6);
}

.btn-filter:after {
    transform: translateY(-50%) scaleX(.6);
}

.btn-action {
    display: inline-block;
    padding: 0 $space/4;
}

.label-status {
    display: inline-block;
    border-radius: 6px;
    font-weight: bold;
    color: #FFF;
    background: $black30;
    padding: $space/6 $space/2;
    text-align: center;
    opacity: .9;
}

.label-status--red {
    background-color: $red_brand;
}

.label-status--blue {
    background-color: $blue_brand;
}

.label-status--green {
    background-color: $green_brand;
}

.btn-call {
    display: flex;
    align-items: center;

    .btn-text {
        flex-grow: 1;
    }

    @media #{$medium} {
        display: block;

        .btn {
            display: none;
        }
    }
}

.btn-submit.on-submit {
    position: relative;
    overflow: hidden;
    pointer-events: none;
    cursor: not-allowed;
    opacity: .4;

    &:before {
        content: '';
        display: block;
        position: absolute;
        height: 5px;
        width: 94%;
        left: 50%;
        bottom: 4px;
        transform: translateX(-50%);
        background-color: $black;
        background: linear-gradient(to right,$black 0%, #FFF 1%, #FFF 10%, $black 11%);
        animation: btnLoading 1.4s infinite ease-in-out;
        background-size: 300%;
        // background-position: -50% 50%;
        transition: background 1.4s ease;
        opacity: .3;
    }
}

.baze-form[novalidate] .btn-submit.on-submit {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;

    &:before {
        display: none;
    }
}

.btn-img {
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;

    img {
        opacity: .8;
    }

    &:hover {
        box-shadow: 0 2px 12px rgba($black, 0.1);
    }

    &.is-active {
        box-shadow: 0 0 0 2px $red_brand, 0 2px 16px rgba($black, 0.2);

        img {
            opacity: 1;
        }
    }
}

@keyframes btnLoading {
    0% {
        background-position: 50% 50%;
    }
    100% {
        background-position: -50% 50%;
    }
}