.fa-share-alt:before {
    content: "\f1e0";
  }
  
.user-logo {
    font-size: 50px !important;
}
.container--smallest {
    max-width: 850px;
    margin: 0 auto;
}
.h-center{
    margin: 0 auto;
}
.card-top-round {
    border-radius: 30px 30px 0px 0px;
}
.space-h-big {
    padding: 0px $space*2;
}
.border--round-big {
    border-radius: 10px;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.add-country {
    white-space: nowrap;
    .btn-radio {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		top: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}
    .btn-country {
        position: relative;
        display: block;
    }
    .btn-country.active {
        .country-content{
            box-shadow: 0 0 0 2px $red_brand;
        }
    }
}

.add-country .btn-country {
    input.btn-radio:checked ~ * .country-content{
        box-shadow: 0 0 0 2px $red_brand;
    }
}

.breadcrumb-campaign {
    list-style: none;
    position: absolute;
    list-style-position: inside;
    counter-reset: steps;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 8px;
    font-size: 8px;

    @media #{$medium} {
        padding-bottom: 20px;
        font-size: 15px;
    }

    > li {
        position: relative;
        float: left;

        span:before {
            counter-increment: steps;
            content: counter(steps)". ";
        }

        a {
            color: $black80;
        }

        span {
            // display: none;
        }

        &:before {
            margin: 0 $bread_space;
            content: '>';
            font-weight: bold;
            transform: scaleY(2);
            display: inline-block;
        }

        &:first-child:before {
            display: none;
        }

        &.is-active {
            color: $red_brand;
        }
    }
}

.upload-cropp-wrapper {
    position: relative;

    .browse-trigger {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        padding: 8px 16px;

        .btn-icon {
            opacity: 0;
        }

        &:hover {
            background: rgba($blue_brand, .5);
            color: #FFF;
        }
    }

    &.is-ready {
        .browse-trigger {
            width: auto;
            height: auto;
            background: rgba(#FFF, 0.4);
            top: 2px;
            right: 2px;

            &:hover {
                background: rgba($blue_brand, .5);
            }
            
            .btn-icon {
                opacity: 1;
            }
        }

        .upload-cropp.croppie-container .cr-slider-wrap {
            display: block;
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.upload-cropp.croppie-container {
    // padding-bottom: 100%;
    position: relative;
    z-index: 1;

    .cr-boundary {
        // position: absolute;
        border: 1px solid $black20;
        padding-bottom: 100%;
    }

    .cr-slider-wrap {
        display: none;
        opacity: 0;
        pointer-events: none;
        margin-bottom: 0;
        margin-top: $space;
    }
}