.cards {
	&.cards--blue .card__item {
		background: $blue_brand;
	}
	&.cards--pink .card__item {
		// background: $pink_brand;

        &:before {
            background: linear-gradient(to top, $pink_brand 50%, rgba($pink_brand,0));
        }

        &:hover {
            &:before {
                background: linear-gradient(to top, $pink_brand 50%, $pink_brand);
                opacity: .9;
            }
        }

        .item-text .title {

        	@media #{$large} {
	            text-shadow: 0 1px 3px rgba($black, 0.7);
        	}
        }
	}
	&.cards--plain .card__item {
		border: none;

		.item-text {
			padding: $space/2 0 0;
			color: $black70;

			a {
				display: block;
				color: $black70;
			}
		}
	}
}

.card__item-- {
	height: 100%;
	border: 1px solid $black10;
	background: #FFF;

	.item-detail {
		position: absolute;
		z-index: 2;
		background: rgba(#FFF,0.94);
		color: $black70;
		padding: $space/2;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity .25s ease;

		.btn {
			border-radius: 6px;
		}
	}

	&:hover {
		.item-detail {
			opacity: 1;
		}
	}

	&.item--past .item-img img {
		filter: grayscale(90%);
		opacity: .5;
	}

	.item-img {
		margin: 0;
		position: relative;
		overflow: hidden;
		background-color: #EEE;
	}

	.item-img:not([class^="fill-"])
	.item-img:not([class*=" fill-"]) {
		background: $black10;
	}

	.img-square,
	.img-3-2,
	.img-4-2 {
		> img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.img-square {
		padding-bottom: 99%;
	}

	.img-3-2 {
		padding-bottom: (2/3) * 100%;
	}

	.img-4-2 {
		padding-bottom: 50%;
	}

	.img-3-2--center, .img-4-2--center {
		> img {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 60%;
			height: 60%;
			object-fit: contain;
		}
	}

	.item-text {
		padding: $space/2 $space/1.5;
		color: #FFF;

		a {
			display: block;
			color: #FFF;
		}
	}
}

.card__item {
    // height: 100%;
    border: 1px solid $black10;
    background: #FFF;
    position: relative;
    padding: 8px;

    @media #{$large} {
        overflow: hidden;

        &:not(.slick-slide) {
            padding-bottom: 100%;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 150%;
            background: linear-gradient(to top, $black 66.66%, rgba($black,0));
            transform: translateY(33.33%);
            opacity: 1;
            transition: all .9s ease;
        }
    }

    &.item--past .item-img img {
        filter: grayscale(90%);
        opacity: .5;
    }

    .item-img, .item-text {
        position: relative;

        @media #{$large} {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    .item-img {
        padding-bottom: 100%;
        margin: 0;
        overflow: hidden;
        background-color: #EEE;
        z-index: 1;

        .link-shadow {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }

        @media #{$large} {
            height: 100%;
            padding-bottom: 0;
        }
    }

    .item-img:not([class^="fill-"])
    .item-img:not([class*=" fill-"]) {
        background: $black10;
    }

    .img-square,
    .img-3-2,
    .img-4-2 {
        > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .img-square {
        // padding-bottom: 99%;
    }

    .img-3-2 {
        padding-bottom: (2/3) * 100%;
    }

    .img-4-2 {
        padding-bottom: 50%;
    }

    .img-3-2--center, .img-4-2--center {
        > img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
            height: 60%;
            object-fit: contain;
        }
    }

    .item-text {
        z-index: 2;
        padding: $space/2 $space/3;
        // color: #FFF;
        height: 100%;
        bottom: auto;
        top: 100%;
        transition: all .9s ease;
        backface-visibility: hidden;

        .title {
            font-size: 14px;
        }

        a:not(.btn) {
            display: block;
            color: $black70;
        }

        @media #{$large} {
            padding: $space/2 $space/1.5;
            color: #FFF;
            transform: translateY(-90px);

            a:not(.btn) {
                color: #FFF;
            }
        }
    }

    .item-text--extra{
    	@media #{$large} {
    		transform: translateY(-120px);
    	}
    }

    .item-text .item-detail {
        padding-top: 12px;
        margin-top: 8px;
    }

    .item-text table {
        font-size: 13px;
        display: none;

        @media #{$large} {
            display: table;
        }
    }

    .btn--ghost-red {
        @media #{$large} {
            background: $red_brand;
            border-color: $red_brand;
            color: #FFF;

            &:hover {
                background: lighten($red_brand, 10%);
            }
        }
    }

    &:hover {
        @media #{$large} {
            .item-detail {
                opacity: 1;
                border-top: 1px solid $black20;
            }

            .item-text {
                transform: translateY(-100%);
            }

            &:before {
                transform: translateY(-33.32%);
                // background: linear-gradient(to top, rgba($black, 0.7) 99%, rgba($black, 0));
                opacity: .7;
            }
        }
    }
}

.cards.cards--nostacked .card__item,
.cards.cards--nooverlay .card__item,
.cards.cards--default .card__item,
.cards.sticky .card__item {
	padding-bottom: 0;
	overflow: visible;

	&:before {
		display: none;

		@media #{$large} {
			display: none;
		}
	}
}

.cards.cards--nooverlay .card__item {
	height: 100%;
}

.cards.cards--nostacked .card__item {
	padding-bottom: 8px;
	height: 100%;

	.item-img {
		position: relative;
		height: auto;
	}

	.item-text {
		position: static;
		color: $black70;
		height: auto;
		transform: translateY(0);
	}
}

.card__item.cards__plain {
	padding-bottom: 8px;

	&:before {
		display: none;
	}
}

.slide-5 .card__item {
    padding: 0;

    &:before {
        display: none;
    }

    .item-img {
        position: relative;
        padding-bottom: 100%;
        height: 0;
    }

    .item-text {
        padding: 8px;
        transform: translateY(0);
        top: 0;
        // opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .btn {
            font-size: .8em;
        }

        @media #{$large} {
            opacity: 0;
        }
    }

    .item-detail {
        // transform: translateY(0);
        margin-top: 0;
        padding-top: 0;
    }

    &:hover {
        .item-text {
            opacity: 1;

            @media #{$large} {
                background: rgba($black, 0.4);
            }
        }

        .item-detail {
            border-top: none;
        }
    }
}

.card__item--overlayed {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 100%;
	position: relative;

	&:before {
		display: none;
	}

	> a {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.item-detail {
		position: relative;
		z-index: 2;
		background: rgba($blue_brand, .7);
		color: #FFF;
		opacity: 1;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity .3s ease;
	}

	.title {
		font-size: 1.5em;
		position: relative;
		transition: transform .25s ease;
		will-change: transform;
		// backface-visibility: hidden;
	}

	&:hover {
		.item-detail {
			opacity: 0;
			border-top: none;
		}

		.title {
			// transform: scale(.9);
		}
	}
}

.cards.cards--plain .card__item--overlayed-reverse,
.card__item--overlayed-reverse {
	padding-bottom: 0;

	> a {
		display: block;
		// padding-bottom: 100%;
		position: relative;
	}
	.item-detail {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		padding: 8px 12px;
		opacity: 0.4;
		color: #FFF;
		display: flex;
		align-items: center;
		justify-content: center;

		.fa-search-plus {
			text-shadow: 1px 1px 4px rgba($black, 0.4);
		}
	}

	.item-img {
		height: auto;
		position: relative;
	}

	figcaption {
		position: absolute;
		overflow: hidden;
		text-transform: uppercase;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $black;
		background: rgba(#FFF, 0.1);
		font-weight: 700;
		font-size: (24/15) * 1em;
		opacity: 1;
		background: rgba(#FFF, 0.3);
		text-shadow: 0 0 32px #FFF, 0 0 16px #FFF, 0 0 8px #FFF;
		transition: opacify .3s ease;
	}

	@media #{$large} {
		figcaption {
			font-size: (32/15) * 1em;
		}

		&:before {
			display: none;
		}

		.item-text {
			position: static;
			transform: translateY(0);
		}

		.item-detail {
			background: rgba($blue_brand, .7);
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}

	&:hover {
		figcaption {
			opacity: 0;
		}

		.item-detail {
			opacity: 1;
		}
	}
}

.cards--round-blue {
	$theme : lighten($blue_brand,60%);
	.card__item {
		border: 2px solid $theme;
		border-radius: 8px;
		overflow: hidden;
	}

	.card-title {
		background: $theme;
		padding: 8px 16px;
		color: $blue_brand;
		margin: 0;
	}

	.card-content {
		padding: 16px;
	}
}

.cards--static {
	.item-text {
		top: 0;
		transform: translateY(0);
		
		.fit-cards {
			width: 100%;
			height: 100%;
			display: flex !important;
			align-items: center;
			justify-content: center;
			font-size: 1.4em;
		}
	}

	.card__item:before {
		height: 100%;
		background: $black;
		transform: translateX(0);
		opacity: .4;
	}

	.card__item:hover {
		.item-text {
			transform: translateY(0);
		}

		&:before {
			opacity: .6;
		}
	}
}

.cards--static-overlay {
	.item-text {
		position: absolute;
		padding: 8px;
		left: 0;
		width: 100%;

		a {
			background: rgba($blue_brand, .7);	
			transition: all .3s ease;
			color: #FFF !important;
			// border: 8px solid transparent;
		}

		a:hover {
			background: transparent;
			color: transparent;
		}
	}

	@media #{$large} {
		.card__item {
			padding-bottom: 8px;

			&:before {
				display: none;
			}
		}

		.item-img {
			position: relative !important;
			padding-bottom: 100%;
		}

		.item-text {
			
		}
	}
}


.item-heavy {
	background-image: url('../img/img-preload-logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px auto;

	&.loaded {
		background-size: cover;
		background-image: none;
	}
}

.fig-tag {
	position: relative;

	figcaption {
		position: absolute;
		display: block;
		font-size: .8em;
		background: rgba(#FFF,0.7);
		width: auto;
		height: auto;
		padding: 0 $space/2;
		max-width: 90%;
		top: auto;
		left: auto;
		right: 5%;
		bottom: 12px;
	}
}

.fig-tag--full {
	figcaption {
		left: 0;
		width: 100%;
		max-width: none;
		text-align: center;
	}
}

.fig-tag--blue figcaption {
	background: $blue_brand;
	color: #FFF;
}

.fig-tag--bold figcaption {
	font-weight: 900;
	font-size: 1.2em;
	padding-top: $space/4;
	padding-bottom: $space/4;

	@media #{$large} {
		font-size: 2em;
	}
}

.cards.sticky {
	will-change: top;
}

.cards.sticky.is-update {

	@media #{$large} {
		.card-content {
			// max-height: calc(100vh - 200px);
			// overflow-y: auto;
		}
	}
}

// RIBBON
.ribbon {
	position: absolute;
	z-index: 1;
	// font-size: (12/15) * 1em;
	font-weight: 900;
	text-transform: uppercase;
	background-color: $black40;
	// color: #FFF;
	top: 0;
	right: $space/3;
	text-align: center;
	padding: $space/2 $space/1.5;
	// transform: rotate(-45deg) translate($space * -2, $space * -2);
	line-height: 1;
	border-radius: 0 10px 10px;
	box-shadow: -2px 1px 4px rgba($black,0.1);

	&:before {
		content: '';
		display: block;
		width: 9px;
		height: 9px;
		background-image: url('../img/ribbon-yellow.png');
		background-size: cover;
		background-position: 0 100%;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-99%);
	}
}

.ribbon--gold {
	background-color: $yellow_brand;
	// background: linear-gradient(to right, $yellow_gold, $yellow_brand);
	color: $black;
	// border-top: 1px solid lighten($yellow_brand, 20%);
	// border-bottom: 1px solid $yellow_gold;
}

.card-img-toggle {
	.item-img {

	}

	figcaption {
		@include blockAll();
		position: absolute;
		z-index: 3;
		color: #FFF;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 16px;
		background: rgba($black,.4);
	}

	.title {
		padding-bottom: 0;
		transition: padding .2s ease;
		transform: translate3d(0,0,0);
	}

	.desc {
		position: relative;
		max-height: 0px;
		overflow: hidden;
		transition: max-height .3s ease;
		line-height: 1.25;
		transform: translate3d(0,0,0);
		font-size: 12px;
		backface-visibility: hidden;
	}

	.card__item:hover {
		figcaption {
			background: rgba($black,.7);
		}

		.title {
			padding-bottom: $space;
		}

		.desc {
			max-height: 300px;
		}
	}
}

.card-img {
	figcaption {
		@include blockAll();
		position: absolute;
		z-index: 3;
		color: #FFF;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
		background: rgba($black,.4);
	}

	.card__item:hover {
		figcaption {
			background: rgba($black,.7);
		}
	}
}

.card--solid {
	background: #FFF;
	box-shadow: 0 2px 2px 0 rgba($black,.14), 0 3px 1px -2px rgba($black,.2), 0 1px 5px 0 rgba($black,.12);
	border-radius: 4px;
	overflow: hidden;

	.item-text,
	.card-action {
		padding: 12px;
	}

	.card-action {
		border-top: 1px solid $black10;
	}
}





