.col-list {
	// transition: max-height .3s ease;
	// max-height: 2000px;

	@media #{$medium} {
		// flex-direction: column;
	}

	@media #{$on_small} {
		max-height: none !important;
	}
}

.col-list__item {
	margin-top: 0;
	// margin-bottom: $space/3;

	dt {
		background: $black30;
		border: 1px solid $black30;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		color: #FFF;
	}

	dd {
		border: 1px solid $black20;
		margin: 0;
		display: flex;
		align-items: center;
	}

	dt, dd ul li {
		padding: $space/4;
		line-height: 1.2;
	}

	dd ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;

		li {
			width: 50%;
			display: flex;

			&:before {
				content: '';
				width: 6px;
				height: 6px;
				margin-right: 8px;
				margin-top: 6px;
				border-radius: 3px;
				background: $black60;
			}
		}
	}

	@media #{$medium} {
		display: flex;
		justify-content: space-between;


		dt, dl {
			flex-grow: 0;
	    	flex-shrink: 1;
		}

		dt {
			width: 40%;
		}

		dd {
			width: 58%;
		}
	}
}