.dialog, .dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	header {
		// border-bottom: 1px solid $black10;
	}

	header {
		padding: $space/2 $space/1.5 0;
	}

	main {
		padding: 0 $space/1.5;
		font-style: italic;
	}

	footer {
		// border-top: 1px solid $black10;
		padding: $space/2 $space/1.5;
	}
}

.dialog {
	z-index: 99;
	opacity: 0;
	transition: opacity .4s ease;
	pointer-events: none;

	&.is-active {
		opacity: 1;
		pointer-events: auto;
	}
}

.dialog .dialog-icon {
	height: 60px;
	background-image: url('../img/icon-confirm.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 4px;
}

.dialog-overlay {
	z-index: 1;
	background: rgba($black,0.7);
}

.dialog-box {
	position: relative;
	z-index: 2;
	width: 95%;
	max-width: 480px;
	background: #FFF;
}