.fab {    
	input[type=checkbox] {
	  display: none;
	}

	input[type=checkbox]:checked~.remove-check {
	  display: none;
	}

	input[type=checkbox]:checked~#email {
	  display: block;
	}
	    
	input[type=checkbox]:checked~#livechat {
	  display: block;
	  
	}

	#email {
	  display: none;
	}

	#livechat {
	  display: none;
	}


	.label-container{
		position:fixed;
		bottom:48px;
		right:105px;
		display:table;
		visibility: hidden;
	}

	.label-text{
		color:#FFF;
		background:rgba(51,51,51,0.5);
		display:table-cell;
		vertical-align:middle;
		padding:10px;
		border-radius:3px;
	}

	.label-arrow{
		display:table-cell;
		vertical-align:middle;
		color:#333;
		opacity:0.5;
	}

	.float-whatsapp, .float-livechat {
		.btn-icon {
			font-size: 32px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.float-whatsapp{
		z-index:100000;
		position: fixed;
		width: 60px;
		height: 60px;
		bottom: 185px;
		right: 5px;
		background-color: #139200;
		color: #FFF;
		border-radius: 50px;
		text-align: center;
		box-shadow: 2px 2px 3px rgba($black, 0.2);

		.sticky-length & {
			bottom: 245px;

			@media #{$large} {
				bottom: 185px;
			}
		}
		
		&:hover {
			background-color: lighten(#139200, 7%);
			z-index: 999999;
		}
	}

	.float-livechat{
		z-index:100000;
		position: fixed;
		width: 60px;
		height: 60px;
		bottom: 110px;
		right: 5px;
		background-color: $red_brand;
		color: #FFF;
		border-radius: 50px;
		text-align: center;box-shadow: 2px 2px 3px rgba($black, 0.2);

		.sticky-length & {
			bottom: 170px;

			@media #{$large} {
				bottom: 110px;
			}
		}

		&:hover {
			background-color: lighten($red_brand, 7%);
			z-index: 999999;
		}
	}
	    
	.my-float{
		font-size:24px;
		margin-top:18px;
		z-index: 100000;
		background: $red_brand;
		width: 64px;
		height: 64px;
		line-height: 60px;
		// padding-right: 50px;
		// padding-left: 15px;
		// padding-top: 15px;
		// padding-bottom: 35px;
		border-radius: 70px;
		margin-left: 10px;
		bottom: 30px;
		right: 5px;
		position: fixed;
		color: white;
		font-size: 35px;
		box-shadow: 2px 2px 3px rgba($black, 0.2);
		white-space: nowrap;
		text-align: center;

		.sticky-length & {
			bottom: 90px;

			@media #{$large} {
				bottom: 30px;
			}
		}

		.item-icon {
			display: inline-block;
		}

		.item-text {
			display: none;
		}

		@media #{$large} {
			width: auto;
			font-size: 15px;
			padding-left: 24px;
			padding-right: 24px;

			.item-text {
				padding-left: 8px;
				display: inline-block;
			}
		}

		&:hover {
			background-color: lighten($red_brand, 10%);
			cursor: pointer;
			animation: pulse-red 2s infinite;
		}
	}

	a.float + div.label-container {
	  visibility: hidden;
	  opacity: 0;
	  transition: visibility 0s, opacity 0.5s ease;
	}

	a.float:hover + div.label-container{
	  visibility: visible;
	  opacity: 1;
	}

}

.qcw-trigger-btn,
.qcw-cs-trigger-button {
	display:none !important;
}

@media only screen and (min-width : 321px) { 
	.resp-chat{color:transparent;}
	.resp-chatbody {
		z-index: 2;
		background: #f54336;
		width: 70px !important;
		width: 65px !important;
		height: 65px !important;
		padding-right: 45px !important;
		padding-left: 20px!important;
		padding-top: 20px !important;
		padding-bottom: 35px !important;
		border-radius: 70px !important;
		margin-left: 9px;
		bottom: 19px !important;
		right: 45px;
		font-size:30px;
		animation: pulse-red 1.5s infinite;
	}
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba($red_brand, 0.7);
    }
    
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba($red_brand, 0);
    }
    
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba($red_brand, 0);
    }}