
// .flexbox {

    .v-center {
        display: flex;
        align-items: center;

        > * {
            flex: 0 1 auto;
            margin-bottom: 0;

            + * {
                margin-left: $space;
            }
        }
    }

    .v-center--spread {
        justify-content: space-between;
    }

    .a-center {
        align-items: center;
    }

    .a-start {
        align-items: flex-start;
    }

    .j-center {
        justify-content: center;
    }

    .a-bottom {
        align-items: flex-end;
    }
    .j-end {
        justify-content: flex-end;
    }
// }

.flex {
    display: flex;

    &.f-fixed > * {
        flex: 1;
    }

    &.v-ct {
        align-items: center;
    }

    > img {
        height: auto;
    }

    .no-flexbox & {
        display: table;
        width: 100%;

        > * {
            display: table-cell;
        }
    }

    &.flow-column--spread {
        flex-direction: column;
        justify-content: space-between;
    }
}
.flex-reverse {
    flex-direction: row-reverse;
}

.fv-stretch {
    align-items: stretch !important;
}

.no-flexbox .flex--fixed {
    display: table;
    table-layout: fixed;

    > * {
        display: table-cell;
    }
}

.flex--fixed > * {
    flex: 1;
}

.fg-1, .selectric-fg-1 {
    flex-grow: 1;
}

.flex--l {
    @media #{$large} {
        display: flex;
    }
}

.flex-col-center {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
