.flight__item {
	border-radius: 6px;
	box-shadow: 0 2px 2px -1px rgba($black, 0.1);
	overflow: hidden;
	order: 2;

	&:hover {
		border-color: lighten($blue_brand, 40%);
		box-shadow: 0 2px 8px 0px rgba($black, 0.2);
	}

	.inner {
		position: relative;
	}

	.btn-toggle {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		text-align: left;
		vertical-align: bottom;
		cursor: pointer;

		> span {
			position: absolute;
			bottom: $space/3;
			left: $space/2;
		}
	}

	.btn-check-flight {
		position: relative;
		z-index: 3;
	}

	.toggle-panel {
		max-height: 0px;
		overflow: hidden;
		transition: max-height .4s ease;
	}

	.airways-logo {
		width: 60px;
		height: 30px;

		@media #{$medium} {
			height: 40px;
		}
	}

	&.is-active {

		.toggle-panel {
			max-height: 2000px;
		}
	}

	&.is-promoted {
		order: 1;
		box-shadow: 0 2px 8px rgba($link, 0.4);
	}

	@media #{$extra_large} {
		// display: flex;
	}
}

.flight__item {
	.flight-item-nav {
		border-top: 1px solid $black10;
		margin-top: 16px;
		padding-top: 8px;
	}
}

[data-flight] .row-is-fixed {
	height: 60px;

	@media #{$medium} {
		height: 30px;
	}

	.row-sort {
		position: fixed;
		top: 55px;
		left: 50%;
		width: 95%;
		max-width: 954px;
		transform: translate(-50%, 0) !important;
		border-top: 1px solid #FFF;
		transition: none;

		@media #{$large} {
			top: 48px;
		}

		@media #{$extra_large} {
			max-width: 1080px;
		}
	}
}


.flight-summary {
	position: fixed;
	bottom: -1px;
	left: 0;
	width: 100%;
	z-index: 4;
	// background-color: rgba($black, 0.2);
	background: linear-gradient(to top, rgba($black,0.2), rgba($black,0) 75%);
	transform: translateY(100%) scale(.9);
	opacity: 0;
	transition: all .4s ease;
	// will-change: transform;
	// padding-top: $space;

	.container {
		position: relative;
		background-color: #FFF;
		box-shadow: 0 -2px 18px 2px rgba($black,0.2);
		border-top: 5px solid lighten($blue_brand, 10%);
	}

	.flight-summary-container {
		transition: max-height .2s ease;
		overflow: hidden;
		max-height: 1000px;
	}

	&.is-active {
		opacity: 1;
		transform: translateY(0) scale(1);
		backface-visibility: hidden;
	}

	.btn-toggle {
		position: absolute;
		top: 0;
		right: $space/2;
	}

	&.is-minimize {
		.flight-summary-container {
			max-height: 0;
		}

		.btn-toggle {
			transform: translateY(-100%) rotate(180deg);
			background: lighten($blue_brand, 10%);
			border-color: lighten($blue_brand, 10%);
		}
	}
}

.flight-detail {
	display: flex;
	line-height: 1.2;
	overflow: hidden;
	padding: 8px 12px;

	.content {
		padding-bottom: 16px;
	}

	.time {
		display: block;
		width: 60px;
		flex-shrink: 0;
	}

	.content {
		flex-grow: 1;
		padding-left: 12px;
		position: relative;

		@media #{$large} {
			margin-right: 72px;
		}
	}

	.content:before,
	.content:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
	}

	.content:before {
		height: 150%;
		border-left: 1px solid $black20;
	}

}

.flight-detail--start,
.flight-detail--end {
	.content:after {
		top: 2px;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background: $black20;
		transform: translateX(-50%);
	}
}

.flight-detail--start {
	.content:before {
		top: 4px;
	}
}

.flight-detail--end {
	padding-top: 20px;

	.content:before {
		top: 10px;
		transform: translateY(-100%);
	}
}

.flight-detail--duration {

	.content, .time {
		padding-top: 16px;
	}

	.time {
		white-space: nowrap;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.content {
		padding-right: 16px;
		background: lighten($blue_brand, 66.6%);
	}

	.content:before {
		height: 200%;
		top: -22px;
	}
}

.direct-container {
	padding-left: 42px;
	position: relative;

	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 18px;
	}

	&:before {
		height: 100%;
		width: 3px;
		background: linear-gradient(to top, lighten($blue_brand, 55%) 50%, #FFF);
	}

	&:after {
		width: 10px;
		height: 10px;
		border-left: 3px solid lighten($blue_brand, 55%);
		border-bottom: 3px solid lighten($blue_brand, 50%);
		transform: rotate(-45deg) translate(-3px, -2px);
	}
}

[data-flight] {
	.flight-search-head {
		background: lighten($blue_brand, 64%);
		padding: 8px 12px;
		transition: opacity .25s ease, transform .25s ease;
	}
	.row-sort {
		position: relative;
		z-index: 2;
		transition: opacity .25s ease .22s;
	}
	.res-container {
		display: flex;
		flex-direction: column;
		transition: opacity .25s ease .3s, transform .25s ease .3s;
	}

	.flight-search-head,
	.row-sort,
	.res-container {
		opacity: 0;
		transform: translateY(12px);
		// will-change: opacity, transform;
	}

	.res--origin {
		
	}

	.res--return {
		display: none;

		.res-container {
			opacity: 0;
		}
	}

	&.flight-selected {
		.res--return {
			display: flex;
		}

		.res--origin {
			display: none;
		}
	}

	&.is-changed {
		.flight-search-head,
		.row-sort,
		.res-container {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.res--origin {
	.res-summary {
		@media #{$large} {
			order: 2;
		}
	}
}

.res--return {
	.res-summary {
		@media #{$large} {
			order: 2;
		}
	}

	[data-ref] {
		display: none;

		&.is-active {
			display: block;
		}
	}
}

.airlines-logo {
	display: flex;
	justify-content: center;

	.airways-logo {
		order: 2;
		width: 60px;
	}

	.airways-logo--NH {
		order: 1;
		width: 60px;

		&:not(:first-of-type) {
			// display: none;
		}
	}
}

// INVOICE 
.list-flight {
	@extend .list-nostyle;
	line-height: 1.4;

	> li {
		display: table;
		margin-bottom: 14px;
	}

	time, .desc {
		display: table-cell;
	}

	time {
		padding-right: 40px;
		position: relative;
	}

	.dot {
		display: block;
		width: 12px;
		height: 12px;
		border-radius: 8px;
		border: 3px solid $link;
		position: absolute;
		right: 14px;
		top: 4px;
	}

	.dot span {
		// display: block;
	}

	> li:first-child .dot {
		border-width: 6px;
	}

	> li:not(:first-child) {
		.dot span {
			display: block;
			height: 900%;
			border-left: 1px solid $link;
			position: absolute;
			left: 2px;
			top: -900%;
			transform: translateY(-3px);
		}
	}
}