@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-black.woff2') format('woff2'),
         url('../fonts/lato-black.woff') format('woff'),
         local('Lato Black'), local('Lato-Black');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-blackitalic.woff2') format('woff2'),
         url('../fonts/lato-blackitalic.woff') format('woff'),
         local('Lato Black Italic'), local('Lato-BlackItalic');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}




@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff'),
         local('Lato Bold'), local('Lato-Bold');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bolditalic.woff2') format('woff2'),
         url('../fonts/lato-bolditalic.woff') format('woff'),
         local('Lato Bold Italic'), local('Lato-BoldItalic');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}




@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-italic.woff2') format('woff2'),
         url('../fonts/lato-italic.woff') format('woff'),
         local('Lato Italic'), local('Lato-Italic');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}




@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-light.woff2') format('woff2'),
         url('../fonts/lato-light.woff') format('woff'),
         local('Lato Light'), local('Lato-Light');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-lightitalic.woff2') format('woff2'),
         url('../fonts/lato-lightitalic.woff') format('woff'),
         local('Lato Light Italic'), local('Lato-LightItalic');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}




@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff'),
         local('Lato Regular'), local('Lato-Regular');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

$lato: "Lato", "Roboto", "Helvetica Neue", Arial, sans-serif;