
// Config
// ------------------------------------------------------------------------ //

$input_border_size      : (1 * 1px);
$input_border_color     : $black20;
$input_padding          : ($space / 3);
$input_padding_large    : ($space / 1.5) $space;
$input_bg               : #fff;
$input_disabled_color   : #A8A8A8;


// Base style
// ------------------------------------------------------------------------ //

legend {
    margin-bottom: ($space / 2);
}

// Fix small bullet on Webkit
// http://goo.gl/WgqfpM
input[type="password"] {
    // font: small-caption;
    font-size: 1em;
}

// Hide input type number spinner
// http://goo.gl/lcCQgB
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

form {
    font-size: 16px;

    @media #{$medium} {
        font-size: $base_font_size;
    }
}

.form__row {
    margin-bottom: ($space / 2);
}

.form-label {
    display: block;
    margin-top: ($space / 3);
}

.form-label--inline {
    display: inline-block;
    margin-right: $space;
}

.form-input {
    // font-size: 16px;
    padding: $input_padding;
    padding: calc(#{$input_padding} + 1px) $input_padding;
    border: solid $input_border_size $input_border_color;
    font-family: inherit;
    background: $input_bg;
    text-align: left;
    line-height: $base_line_height;
    color: $black80;
    // box-shadow: inset 0 1px 2px rgba(0,0,0,0);

    @media #{$medium} {
        font-size: $base_font_size;
    }

    &:focus {
        border-color: #2669d3;
        outline: none;
    }
    
    // &.is-disabled,
    &[disabled] {
        color: $input_disabled_color;
        cursor: not-allowed;

        // Fix iOS color for being too opaque
        // https://github.com/ImBobby/suit-baze/issues/98
        -webkit-text-fill-color: $input_disabled_color;
    }

    &.copied {
        transition: all .3s ease;
        border-color: $green_brand;
        box-shadow: 0 0 6px $green_brand;
        background: lighten($green_brand,40%);
    }

    &.text-center {
        text-align: center;
    }

    @at-root select#{&} {
        padding: $input_padding;
    padding: calc(#{$input_padding} + 1px) $input_padding;
    border: solid $input_border_size $input_border_color;
    font-family: inherit;
        line-height: $base_line_height;
        appearance: textfield;
        background: #FFF url(../img/arrow-select.png) center right 12px no-repeat;
        background-size: 12px;
        border-radius: 0;
    }

    &::placeholder {
        font-style: normal;
    }
}


// Modifier
// ------------------------------------------------------------------------ //

.form-input--error {
    border-color: #d32c31;

    &:focus {
        border-color: #d32c31;
    }
}

.form-input--redline {
    border-color: $red_brand;
}

.form-input--success,
.input-valid {
    border-color: #4eb74a;

    &:focus {
        border-color: #4eb74a;
    }
}

.form-input--block {
    width: 100%;
    flex-grow: 1;
}

.form-input--large {
    padding: $input_padding_large;
}

.form--line {
    .form__row {
        border-bottom: 1px solid $black20;
    }

    .form-input:not(.form-input--redline), .selectric {
        border: transparent;
    }

    .form-input--block, .selectric-form-input--block {
        flex-grow: 1;
    }
}

.input-iconic {
    position: relative;

    input {
        padding-right: 28px;
        text-overflow: ellipsis;
    }

    .label-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: inline-block;
        padding: $input_padding;
        color: $black40;
    }
}

.input-iconic--left {
    position: relative;
    display: flex;

    .label-icon {
        flex-shrink: 0;
        width: 35px;
        font-size: 20px;
        height: 38px;
        line-height: 38px;
        text-align: center;
    }
}

.btn-check {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: $space/4;
    padding-left: $space;
    cursor: pointer;

    .btn-check-input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }
}

.btn-check--radio {
    .input-icon {
        content: '';
        display: block;
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid $black40;
        top: $space/2;
        left: 0;
    }

    .btn-check-input:checked + .input-icon {
        background: $red_brand;
        border-color: $red_brand;
    }
}

.btn-check--radio-solid {
    padding: 0;

    .btn-check-text {
        display: block;
        padding: $space/4 ($space/2);
        border: 1px solid #FFF;
        border-radius: 8px;
    }

    .btn-check-input:checked ~ .btn-check-text {
        background: $red_brand;
        border-color: lighten($red_brand, 10%);
    }
}

.text-right {
    text-align: right;
}

input[type="checkbox"],
input[type="radio"] {
    appearance: textfield;
    border: 1px solid $black40;
    width: 14px;
    height: 14px;
    flex-basis: 14px;
    flex-shrink: 0;
    display: inline-block;
    background-color: #FFF;
    cursor: pointer;
    transition: all .2s ease;

     &:focus {
        outline: none;
    }

    &:hover {
        border-color: $link;
    }
}

input[type="checkbox"] {
    border-radius: 2px;
    background-image: url('../img/icon-check--white.png');
    background-position: 50% -14px;
    background-size: contain;

    &:checked {
        background-color: $link;
        border-color: $link;
        background-position: 50% 50%;
    }
}

input[type="radio"] {
    border-radius: 50%;
    box-shadow: inset 0 0 0 0px #FFF;

    &:checked {
        border-color: $link;
        // box-shadow: inset 0 0 0 2px #FFF;
        background-color: $link;
    }
}

.fill-primary {
    .form-input {
        background: transparent;
        color: #FFF;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;

        &::placeholder {
            // font-style: normal;
            color: #FFF;
        }

        &:focus {
            outline: none;
        }
    }

    .label-icon {
        color: #FFF;
    }
}

.pickaDay {
    cursor: pointer;
}

.tab-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 24px;

    .btn-label {
        position: relative;
        overflow: hidden;
        display: inline-block;
        padding: $space/3 $space;
        border-radius: 4px;

        &:hover {
            background-color: $red_brand;
            color: #FFF;
        }

        input,
        .btn-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .btn-bg {
            content: '';
            display: block;
        }

        input {
            opacity: 0;
            z-index: 3;
        }

        .btn-text {
            position: relative;
            z-index: 2;
        }

        input:checked ~ .btn-text {
            color: #FFF;
        }

        input:checked ~ .btn-bg {
            background-color: $red_brand;
        }
    }
}

// Baze VAlidate
// ------------------------------------------------------------------------ //
.baze-form {
    .input-invalid {
        border-color: $red_brand;
        color: $red_brand;
    }

    .msg-error {
        line-height: 1.2;
        font-size: .75em;
        display: block;
        text-align: right;

        span {
           display: inline-block;
            padding: $space/4 $space/2;
            background: rgba($red_brand, 0.6);
            color: #FFF;
        }
    }

}

//  VOUCHER
[data-voucher] {

    .msg-text {
        font-weight: 700;
        font-size: .85em;
    }

    &[data-valid="is-invalid"] .msg-text {
        color: $red_brand;
    }

    &[data-valid="is-valid"] .msg-text {
        color: $green_brand;
    }

    &[data-valid="is-valid"] {
        // pointer-events: none;
    }
}

.input-peeker {
    position: relative;

    .btn-peek {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        // transform: translateY(-50%);
        color: $black40;
        border: none;
        cursor: pointer;
        min-height: 42px;

        &:focus {
            outline: none;
        }

        &:after {
            content: '';
            display: none;
            position: absolute;
            height: 70%;
            border-left: 2px solid $blue_brand;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &.is-peek {
            color: $blue_brand;

            &:after {
                display: block;
            }
        }
    }
}


// AutoInput
.autoinput {
    position: relative;

    .btn-cancel {
        display: none;
        background: transparent;
        border: none;
    }

    .sq-head, .sq-item {
        padding: 8px 12px;
    }

    .sq-item {
        cursor: pointer;
        border-top: 1px solid $black10;

        &.is-active,
        &:hover {
            background: lighten($blue_brand, 65%);
        }
    }

    .sq-head {
        background: lighten($black10, 5%);
        line-height: 1.1;
    }

    .search-quick-res {
        position: absolute;
        top: 100%;
        width: 100%;
        height: calc(100vh - 55px - 48px - 60px);
        background: #FFF;
        z-index: 9;
        color: $black70;
        box-shadow: $shadow;
        overflow-y: auto;
        pointer-events: none;

        @media #{$large} {
            width: 200%;
            top: 100%;
        }
    }

    mark {
        background: none;
        color: $link;
        font-weight: bold;
    }

    &.is-active {
        position: fixed;
        top: 55px;
        left: 0;
        width: 100%;
        z-index: 99;
        display: flex;
        background: $blue_brand;

        .form-input {
            border: 8px solid $blue_brand;
        }

        .btn-cancel {
            width: 72px;
            flex-shrink: 0;
            display: inline-block;
        }

        .label-icon {
            right: 80px;
        }

        .search-quick-res {
            pointer-events: auto;
            opacity: 1;
            transform: translateY(0);
        }

        @media #{$large} {
            position: relative;
            top: 0;
            width: auto;
            display: block;

            .form-input {
                border-top: none;
                border-left: none;
                border-right: none;
                border-width: 1px;
                border-color: $input_border_color;
            }

            .label-icon {
                right: 0;
            }

            .btn-cancel {
                display: none;
            }

            .search-quick-res {
                height: auto;
                max-height: calc(100vh - 55px - 48px - 60px);
            }
        }
    }
}

.search-quick-res {
    opacity: 0;
    transform: translateY(-16px);
    // transition: all .3s ease;
    max-height: calc(100vh - 72px);
    overflow-y: auto;
}
