.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 58px;
	z-index: 4;
	background: $blue_brand;
	color: #FFF;

	a {
		color: #FFF;
	}

	.site-logo {
		position: relative;
		z-index: 3;
		flex-shrink: 1;
		display: block;
		line-height: 1;
		margin-right: 15px;
	}

	.site-logo svg, .site-logo svg > *, .site-logo > * {
		width: 68px;
		height: 34px;
	}
	
	@media #{$large} {
		// .site-header
		transition: transform .4s ease;
		height: auto;

		.site-logo svg, .site-logo svg > *, .site-logo > * {
			width: 132px;
			height: 60px;
		}

		&.is-active {
			transform: translateY(-90px);
		}
	}
}

.site-header__top {
	height: 58px;
	// padding: $space/2 0;
	border-bottom: 3px solid #FFF;

	.container {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	@media #{$large} {
		height: 90px;
		border-bottom-color: darken($blue_brand, 5%);
	}
}

.header-info {
	font-size: 10px;

	.office-hour {
		display: none;
	}

	@media #{$large} {
		font-size: 15px;
		flex: 1;

		.office-hour {
			display: block;
		}
	}
}

.header-contact {
	// position: absolute;
	// display: none;
	// text-align: right;
	// flex-grow: 1;

	@media #{$large} {
		position: static;
		display: block;
	}
}

.header-contact__call {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-100%, -50%);

	a {
		display: block;
		width: 50px;
		height: 55px;
		// line-height: 50px;
		text-align: center;
		// font-size: 18px;
		display: flex;
		align-items: center;
		justify-content: center;
		// flex-wrap: wrap;
		flex-direction: column;
	}

	.item-icon {
		font-size: 20px;
	}

	.item-icon--title {
		font-size: 9px;
		display: block;
		line-height: 1.2;
		display: none;
	}

	.item-text {
		display: none;
	}

	@media #{$large} {
		position: static;
		transform: none;

		a {
			// font-size: 
			display: block;
			width: auto;
			height: auto;
		}

		.item-icon {
			font-size: 1em;
		}

		.item-icon--title {
			display: none;
		}

		.item-text {
			display: inline-block;
		}
	}
}

.header-contact__mail {
	display: none;

	@media #{$large} {
		display: block;
	}
}

// MAIN NAV
.site-header__bottom {
	
	@media #{$medium} {
		> .container {
			display: flex;
			align-items: center;
		}
	}
}

.main-nav {
	text-transform: uppercase;
	font-weight: 700;
	position: fixed;
	top: 0;
	left: 0;
	// max-width: 320px;
	width: 90%;
	height: 100vh;
	padding-top: 58px;
	transform: translateX(-100%);
	transition: transform .35s ease;
	z-index: 2;

	.btn-toggle {
		position: absolute;
		z-index: 3;
		top: 0;
		right: 0;
		width: 55px;
		height: 55px;
		background: $blue_brand;
		color: #FFF;
		border: none;
		cursor: pointer;
		transform: translateX(100%);

		.fa {
			font-size: 1.5em;
		}

		.icon-close {
			display: none;
		}

		&:focus {
			outline: none;
		}
	}

	.toggle-panel {
		position: relative;
		z-index: 2;
		width: 100%;
		height: 100%;
		background: $blue_brand;
		overflow-y: auto;
	}

	&.is-active {
		// .main-nav
		transform: translateX(0);

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 58px;
			background: $blue_brand;
			border-bottom: 3px solid #FFF;
			z-index: 2;
		}

		.btn-toggle {
			transform: translateX(0);

			.icon-close {
				display: inline-block;
			}

			.icon-open {
				display: none;
			}
		}

		.nav-overlay {
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			width: 350%;
			height: 100%;
			background: rgba($black,0.5);
		}
	}

	@media #{$medium} {
		flex-grow: 1;
	}

	@media #{$large} {
		// .main-nav
		top: 0;
		position: static;
		width: 100%;
		max-width: none;
		height: auto;
		padding-top: 0;
		transform: translateX(0);

		.btn-toggle {
			display: none;
		}

		.toggle-panel {
			overflow-y: visible;
		}
	}
}

.main-nav .toggle-panel > ul {

	@media #{$large} {
		display: flex;
	}
}

.main-nav__item {
	position: relative;
	// overflow: hidden;

	a {
		display: block;
		padding: $space/4;
		position: relative;
	}

	a:hover {
		color: $red_brand;
	}

	> a {
		padding: $space/2;
	}

	a.has-sub {
		padding-right: $space/1.5;

		> .icon-subnav {
			position: absolute;
			right: $space/2;
			top: 50%;
			transform: translateY(-50%) rotate(0deg);
		}
	}

	@media #{$large} {
		flex-grow: 1;

		&:last-child,
		&:nth-last-child(-n+2) {
			.sub-main-nav .sub-main-nav {
				left: auto;
				right: 100%;
			}

			.sub-main-nav a.has-sub > .icon-subnav {
				right: auto;
				left: $space/3 * -1;
				transform: translateY(-50%) rotate(90deg);
			}
		}

		> a {
			padding: $space/2 $space/4;
			text-align: center;
		}
	}
}

.main-nav__item {
	border-bottom: 1px solid rgba($black,0.15);

	&:not(:first-child) {
		border-top: 1px solid rgba(#fff, 0.1);
	}

	.sub-main-nav {
		max-height: 0;
		overflow: hidden;
		transition: max-height .25s ease;

		li {
			position: relative;
			margin-left: $space/2;
		}
		
		@media #{$large} {
			position: absolute;
			top: 0;
			min-width: 200px;
			background: #FFF;
			overflow: visible;
			max-height: none;
			box-shadow: 0 3px 7px rgba($black,0.2);

			.sub-main-nav {
				left: 100%;
			}

			a {
				color: $black70;
			}

			a:hover {
				color: $red_brand;
			}

			a.has-sub {

				> .icon-subnav {
					transform: translateY(-50%) rotate(-90deg);
				}
			}
		}
	}

	.sub-main-nav ~ a {
		color: $red_brand;
	}

	> .sub-main-nav {
		@media #{$large} {
			top: 100%;
		}
	}

	@media #{$large} {
		border-bottom: none;

		&:not(:first-child) {
			border-top: none;
		}
		.sub-main-nav {
			display: none;
		}

		&:nth-last-child(-n+2) {
			.sub-main-nav {
				right: 0;
			}
		}
	}
}

.main-nav li:hover {
	> a {
		color: $red_brand;
	}
	> .sub-main-nav {
		display: block;
		max-height: 2000px;
	}
}

.user-opts {
	padding: $space/2 $space/4;
	background-color: darken($blue_brand,3%);
	.btn-avatar {
		padding: 0;
		background-color: #FFF;
		border: 5px solid #FFF;
		margin-right: $space/2;
	}

	.user-optss-nav {
		flex-grow: 1;

		.btn-enter {
			display: inline-block;
			margin-left: $space/2;
			padding-left: $space/2;
			padding-right: $space/2;
		}
	}
}

// USER NAV
.user-nav {
	position: fixed;
	top: 0;
	right: 0;
	border-left: 1px solid rgba(#FFF, 0.3);

	@media #{$large} {
		position: relative;
	}

	.btn-toggle {
		background: none;
		color: #FFF;
		border: none;
		text-transform: uppercase;
		font-weight: 700;
		cursor: pointer;
		padding: $space/2;
		position: relative;
		z-index: 3;
		white-space: nowrap;
		height: 55px;
		width: 50px;
		text-align: center;
		// padding-left: 24px;

		&:hover {
			color: $red_brand;
		}

		&:focus {
			outline: none;
		}

		.btn-icon {
			position: absolute;
			top: 50%;
			left: $space/2;
			transform: translateY(-50%);
			font-size: 20px;
		}

		.btn-text {
			padding-left: 12px;
			width: 0;
		}

		.notif-dot {
			position: absolute;
			top: $space/2;
			right: $space/2;
			transform: translateX(50%);
		}

		@media #{$large} {
			position: relative;
			width: auto;
			max-width: 124px;
			height: auto;
			padding: $space/2;

			.btn-text {
				width: auto;
			}

			.btn-icon {
				font-size: inherit;
			}
		}
	}

	.toggle-panel {
		position: absolute;
		z-index: 2;
		top: 100%;
		right: 0;
		background: #FFF;
		border-radius: 8px;
		padding: 12px 14px;
		width: 300px;
		box-shadow: 0 2px 9px rgba($black, 0.4);
		pointer-events: none;
		opacity: 0;
		transition: opacity .2s ease;
	}

	&.is-active {
		.nav-overlay {
			position: fixed;
			z-index: 1;
			width: 100%;
			height: 100vh;
			top: 0;
			left: 0;
		}
		.toggle-panel {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&.is-login {
		.toggle-panel {
			width: 200px;
		}
	}

	.user-nav__item {
		text-transform: uppercase;

		a {
			color: $blue_brand;
			display: block;
			padding: $space/3 $space/2;

			&:hover {
				color: $red_brand;
			}
		}
	}
}

.notif-dot {
	display: inline-block;
	background: lighten($red_brand, 5%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	box-shadow: 1px 1px 3px rgba($black, 0.3);
	vertical-align: top;
}
