@font-face {
  font-family: 'his-icon';
  src:  url('../fonts/his-icon.ttf?q1cgsk') format('truetype'),
    url('../fonts/his-icon.woff?q1cgsk') format('woff'),
    url('fonts/his-icon.svg?nyc1en#his-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="his-"], [class*=" his-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'his-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-display: optional;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.his-branch:before {
  content: "\e900";
}
.his-info_outline:before {
  content: "\e901";
}
.his-flight_land:before {
  content: "\e902";
}
.his-flight_takeoff:before {
  content: "\e903";
}
.his-sim_card:before, .his-simcard:before {
  content: "\e904";
}
.his-hotel:before {
  content: "\e905";
}
.his-koper:before {
  content: "\e906";
}
.his-pesawat:before {
  content: "\e907";
}
.his-train:before {
  content: "\e908";
}
.his-trees:before {
  content: "\e909";
}
.his-wifi:before {
  content: "\e90a";
}
.his-alarm:before {
  content: "\e90b";
}
.his-map-marker:before {
  content: "\e90c";
}
.his-travel-bag:before {
  content: "\e90d";
}
.his-user-group:before {
  content: "\e90e";
}
.his-wifi-device:before {
  content: "\e90f";
}
.his-park:before {
  content: "\e910";
}
.his-seat:before {
  content: "\e911";
}
.his-user-camera:before {
  content: "\e912";
}
.his-arrow-bold-left:before {
  content: "\e913";
}
.his-arrow-bold-right:before {
  content: "\e914";
}