.section-booking {
	position: relative;
	z-index: 3;
	pointer-events: none;

	.container {
		width: 100%;
	}

	.tab-nav {
		position: relative;
		z-index: 2;
		border-left: 3px solid $blue_brand;
		border-right: 3px solid $blue_brand;
	}

    form {
        pointer-events: auto;
    }

	.tab-nav__item {
		pointer-events: auto;
		margin-right: 0;
		border-top: 3px solid $blue_brand;
		font-size: .75em;
		flex-grow: 1;

		&:not(:first-child) a {
			border-left: 1px solid #FFF;
		}
	}

	.tab-nav__item a {
		font-weight: 700;
		color: #FFF;
		background: $blue_brand;
		position: relative;
	}

	.label-warning {
		font-size: 6px;
		position: absolute;
		top: 2px;
		right: 2px;
		background-color: $yellow_brand;
		color: $red_brand;
		display: block;
		padding: 1px 4px;
	}

	.tab-nav__item.is-active a {
		color: $blue_brand;
		background: #FFF;
	}

	.tab-panel {
		pointer-events: auto;
		// position: relative;
		// z-index: 1;
		margin-top: -3px;
		padding: $space/2;
		background: #FFF;
		border: 3px solid $blue_brand;
	}

	@media #{$large} {
        margin-bottom: $space;

        &.section-booking--hero {
          // margin-top: -65px;
		  margin-top: -35px;
        }

		.tab-nav {
			border-left: none;
			border-right: none;
		}

		.tab-nav__item {
			margin-right: 3px;
			font-size: 1em;
			flex-grow: 0;

			&:not(:first-child) a {
				border-left: 3px solid $blue_brand;
			}
		}

		.tab-nav__item a {
			height: 32px;
            padding-top: 0;
            padding-bottom: 0;
			border-left: 3px solid $blue_brand;
			border-right: 3px solid $blue_brand;
		}

		.tab-nav__item a:hover {
			background: lighten($blue_brand, 10%);
			color: #FFF;
		}

		a.fill-grey {
		    background: $black60;
		    color: #FFF;
		}

		.tab-panel {
			padding: $space*2 $space*3;
		}
	}
}

.section-booking {
	.form-input,
	.selectric,
	.selectric .label,
	.selectric .button {
		background: #EEE;
		color: $black80;

		&::placeholder {
			color: $black50;
		}
	}
}

.pick-guest {
	position: relative;

	.btn-toggle {
		padding-right: $space*1.25;
		// cursor: pointer;

		
		&:not(.is-disabled),
		&:not([disabled]) {
			cursor: pointer;
		}

		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 6px solid $black30;
			position: absolute;
			top: 50%;
			margin-top: -3px;
			right: 14px;
		}
	}

	.toggle-panel {
		position: absolute;
		z-index: 2;
		width: 100%;
		width: calc(100% + 35px);
		// bottom: 0;
		right: 0;
		display: none;
		box-shadow: 0 2px 7px rgba($black, 0.4);
		// transform: translateX(-100%);
	}

	.nav-overlay {
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	.qty-input .form-input {
		pointer-events: none;
		width: 34px;
		padding-left: 3px;
		padding-right: 3px;
		border-color: $red_brand;
		color: $black70;
	}

	.qty-input > div {
		white-space: nowrap;

		> *:not(:first-child) {
			margin-left: -4px;
		}
	}

	&.is-active {
		.nav-overlay {
			background: $black;
			opacity: .4;

			@media #{$large} {
				display: none;
			}
		}

		.toggle-panel {
			position: fixed;
			display: block;
			top: auto;
			bottom: 0;
			width: 100%;

			.sticky-length & {
				bottom: 164px;

				@media #{$large} {
					bottom: auto;
				}
			}

			@media #{$large} {
				position: absolute;
				bottom: auto;
				top: 100%;
				width: calc(100% + 35px);
			}
		}
	}

	.is-sticky &.is-active .toggle-panel {
		top: auto;
		bottom: -200%;
	}

	.over-y-auto {
		max-height: 310px;
		overflow-y: auto;
		transition: max-height .2s ease;
		margin-right: 0;

		.is-sticky & {
			// max-height: 300px;
			margin-right: $space/2 * -1;
			border-bottom: 1px solid $black20;
			// overflow-y: auto;
		}
	}
}

.book-sum {
	display: none;

	.table-total tbody tr {
		display: none;
	}
}

.child-age-container {
    display: none;

    &.is-active {
        display: block;
        // border-bottom: 1px solid $black20;
    }
}
