.inline-msg {
	background: lighten($yellow_brand, 20%);
	color: $black;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	transform: translateY(100%);
	padding: $space/3 0;
	box-shadow: 0 3px 3px rgba($black,0.2);

	.btn-close {
		background: none;
		border: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 36px;
		height: 36px;
		cursor: pointer;
		opacity: .5;

		&:hover, &:focus {
			color: $red_brand;
			opacity: 1;
		}
	}

	.inline-msg-content {
		padding-right: 40px;
	}
}

.inline-msg--static {
	position: static;
	transform: translateY(0);
	margin-bottom: $space;
}