@mixin labelGhost($color) {
	background: transparent;
	border: 2px solid $color;
	color: $color;
}

.label-ribbon {
	display: inline-block;
	width: 100%;
	border-radius: 8px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-weight: 700;
	overflow: hidden;
}

.label--ghost-blue {
	@include labelGhost($blue_brand);
}

.label--ghost-pink {
	@include labelGhost($pink_brand);
}

.label--iconic {
	display: flex;
	align-items: center;

	.label-icon {
		padding: 1px 4px;
		border-right: 2px solid;

		.label--ghost-blue & {
			border-right-color: $blue_brand;
		}

		img {
			width: 30px;
			height: 30px;
		}
	}

	.label-text {
		flex-grow: 1;
	}
}