.loader-container .loader,
.site-main .loader {
    border-radius: none !important;
    border: none !important;
    margin-top: 0 !important;
    position: static;
    animation: none !important;

    margin: 0 auto $space;
    width: 70px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.loader > div {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: $blue_brand;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loader .bounce1 {
    animation-delay: -0.32s;
}

.loader .bounce2 {
    animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        transform: scale(.5);
        opacity: 0
    } 40% {
        transform: scale(1.0);
        opacity: 1;
    }
}

.is-Loading {
    position: relative;
    min-height: 40px;

    .load-msg {
        display: none;
    }
}

.load-msg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    padding: $space/3 $space/2;
    padding-right: $space;
    background: lighten($yellow_brand, 30%);

    .fa-warning {
        flex-grow: 0;
        padding-right: $space/3;
    }

    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        padding: $space/3;
    }

    .btn-close {
        opacity: .4;
        cursor: pointer;
    }
    
    .btn-close:hover, .btn-close:focus {
        opacity: 1;
    }
}

body > .load-msg {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

body.is-Loading {
    // height: 100%;
    overflow: hidden;

    > .loader-container {
        position: fixed;
    }
}

.is-Loading > .loader-container {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(#FFF,0.6);
    display: flex;
    align-items: center;
}

.page-loader {
    display: none;
    position: fixed;

    &.is-active {
        display: flex;
        z-index: 200;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(#FFF, 0.6);
        align-items: center;
    }

    .loader {
        margin-bottom: 0;
        background: #FFF;
        border-radius: 20px;
        box-shadow: 0 3px 12px rgba($black, 0.07);
        width: 80px;
    }
}

.box-loader {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(#FFF,0.5);
    padding: 40px 0;
    display: flex;
    align-items: center;
}