.map-container {
	position: relative;
	overflow: hidden;
	// height: 320px;

	@media #{$medium} {
		height: 480px;
	}

	@media #{$large} {
		height: 600px;
	}
}

.map-container--responsive {
	height: 0px;
	padding-bottom: 56.25%;
	position: relative;

	.map-area {
		min-height: 0;
		width: 100%;
		height: 100%;
		position: absolute !important;
	}
}

.map-info {
	.btn-trigger {
		background: #FFF;
		width: 60px;
		height: 30px;
		border-radius: 30px 30px 0 0;
		border: none;
		cursor: pointer;
	}

	.btn-trigger span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(180deg);
		transition: transform .25s ease;
		font-size: 18px;
	}

	&.is-active .btn-trigger span {
		transform: translate(-50%, -50%) rotate(0deg);
	}
}

.hismap-info {
	max-width: 300px;
}

.map-area {
	height: 100%;
	background: #dfdfdf;
	min-height: 320px;
	// border: 1px solid $black10;
}

.map--home {
	.map-area {
		height: 320px;
	}

	.map-info {
		width: 100%;
	}

	.map-info .toggle-panel {
		background: #FFF;
	}

	.btn-trigger {
		display: none;
	}

	.toggle-panel {}

	.toggle-panel .container {
		padding: $space 0;
	}

	@media #{$medium} {
		.map-area {
			height: 500px;
		}

		.map-info {
			position: absolute;
			left: 0;
			top: 100%;
			transition: transform .4s ease-in;
		}

		.btn-trigger {
			position: absolute;
			display: inline-block;
			top: 0;
			transform: translateY(-99%);

			&:hover, &:focus {
				outline: none;
				color: $red_brand;
			}
		}

		.map-info.is-active {
			transform: translateY(-100%);
		}
	}

	@media #{$large} {
		.map-area {
			height: 640px;
		}
	}
}

.map-nav {
	// padding: 16px;
	border: 1px solid $black10;
	position: relative;
	margin-bottom: $space;

	@media #{$medium} {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin-bottom: 0;
	}

	@media #{$large} {
		// border-right: none;
		// padding: 22px 24px;
	}
}

.map-nav .nav__item {
	border-bottom: 1px solid $black10;

	a {
		display: block;
		padding: $space/2;
	}
}

.map-search {
	position: relative;
	padding: $space/2;

	input {
		padding: $space/2.5;
		padding-right: 40px;
		border: none;
	}

	.btn {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}

	.btn-reset {
		display: none;
	}

	.no-result {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: lighten($red_brand,40%);
		color: #FFF;
		font-size: .8em;
		padding: 0 $space/2;
	}
}

.map-location-list {
	position: relative;
	max-height: 260px;
	overflow-y: auto;

	@media #{$medium} {
		flex-grow: 1;
		height: 100%;
		max-height: none;
		// overflow: hidden;
	}
}

.map-nav .nav__item, .map-nav .map-search-result {
	button {
		border: none;
		background: none;
		display: block;
		width: 100%;
		text-align: left;
		padding: $space/3 0;
		cursor: pointer;
		position: relative;
	}

	button:hover {
		box-shadow: 0 0 0 4px rgba($black, 0.05);
		background: rgba($black, 0.05);
	}

	button .btn-icon {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -7px;
	}

	button:hover, button:focus {
		color: $red_brand;
		outline: none;
	}
}

.map-nav-container,
.location-details {
	opacity: 0;
	pointer-events: none;

	&.is-active {
		opacity: 1;
		pointer-events: auto;
	}
}

.map-nav-container {
	transition: opacity .3s ease-out;
	will-change: opacity;

	@media #{$medium} {
		overflow-y: auto;
		height: 100%;

		&::-webkit-scrollbar-track {
			background-color: rgba($black,0.1);
		}

		&::-webkit-scrollbar {
			width: 8px;
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba($black,0.15);
			border: 1px solid rgba($black,0.17);
		}
	}
}

.location-details {
	transition: all .3s ease-in;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateY(5%);

	&.is-active {
		transform: translateY(0);
	}
}