.map-index {}

.map-index--japan {
	@media #{$large} {
		.map-index-nav {
			width: 50%;
		}
	}
}

.map-index-nav {
	display: flex;
	flex-wrap: wrap;

	a {
		display: block;
		padding: $space/3 $space;
		text-align: center;
		border: 2px solid transparent;
		font-weight: 700;
		border-radius: 8px;
		flex-grow: 0;
		flex-shrink: 1;
		width: 50%;
	}

	a:hover, a:focus {
		border-color: lighten($red_brand, 10%);
	}

	@media #{$medium} {
		

		a {
			width: (100 / 3) * 1%;
		}
	}
}

.map-index-content {
	position: relative;
	display: inline-block;

	img:not(.base-map) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity .3s ease;
		will-change: opacity;

		&.is-active {
			opacity: 1;
		}
	}
}