
.media {
    display: flex;
    align-items: flex-start;
}

.media-figure {
    margin-right: ($space / 2);
}

.media-content {
    flex: 1;
    min-width: 0;
}

// Media Query
.is-small {
    display: block;

    @media #{$medium} {
        display: none;
    }
}

.is-medium {
    display: none;

    @media #{$medium} {
        display: block;
    }
}