.table-export {
	// @media print {
		page-break-after: always;
		width: 100%;
		line-height: 1.4;

		thead {
			display: table-header-group;


			th {
				vertical-align: top;
				// padding: 8px;
				font-weight: normal;
			}

			th.no-space {
				padding: 0;
			}

			.th-line img {
				max-width: none;
				width: 100%;
				text-align: center;
				height: 6px;
			}
		}

		.tfooter {
			display: table-footer-group;
			
			td {
				height: 200px;
			}
		}
	// }
}

.doc-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: $space;
}

.doc-footer_info {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 100%;
	left: 0;
	bottom: $space;
	margin: 0;
	// table-layout: fixed;

	&:before {
		position: absolute;
		z-index: 1;
		content: '';
		display: block;
		width: 100%;
		top: 0;
		left: 0;
		border-bottom: 100px solid $blue_brand;
	}

	.item {
		position: relative;
		bottom: 0;
		color: #FFF;
		font-weight: 700;
		padding: $space/2 $space;
		float: left;
		width: 25%;
	}

	.item a, .item div {
		position: relative;
		z-index: 2;
		color: #FFF;
	}
}

.doc-footer_img {
	position: fixed;
	max-width: none;
	width: 100%;
	z-index: 2;
	bottom: 0;
	left: 0;
}