.modal,
.modal .overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal {
	z-index: 30;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	padding: 60px 0;

	&.is-active {
		opacity: 1;
		pointer-events: auto;
	}
}

.modal .overlay {
	z-index: 0;
	background-color: $black;
	opacity: .6;
}

.modal {
	.modal-container {
		position: relative;
		z-index: 2;
		background-color: #FFF;
		min-width: 300px;
		margin: 60px auto;
		max-height: calc(100vh - 120px);
		overflow-y: auto;
	}

	.modal-container--large {
		max-width: 960px;
		width: 90%;
	}

	.modal-head,
	.modal-content,
	.modal-footer {
		padding: 12px 16px;
	}

	.modal-head {
		border-bottom: 1px solid $black10;
	}

	.modal-head .btn-close {
		background: none;
		border: none;
		color: $black60;
		cursor: pointer;

		&:hover {
			color: $link;
		}
	}

	.modal-footer {
		// background-color: lighten($blue_brand, 67%);
		background-color: lighten($black10, 5%);

		.panel-content {
			background-color: #FFF;
			padding: 0 12px;

			&.is-active {
				padding: 12px;
				margin-top: 12px;
			}
		}
	}
}

.modal-book-confirm {
	.modal-footer .book-action {
		display: flex;
		align-items: center;

		@media #{$medium} {
			order: 2;
		}
	}

	.modal-footer nav {
		@media #{$medium} {
			order: 1;
		}
	}
}





