.navs {}

.navs--inline {
	display: table;
	font-weight: 700;
	// overflow-x: auto;

	.flexbox & {
		display: flex;
		overflow-x: auto;
	}

	.nav__item {
		display: table-cell;
		// flex-grow: 1;
		text-align: center;

		.flexbox & {
			display: block;
			flex-grow: 1;
			white-space: nowrap;
		}
	}

	.nav__item a {
		display: block;
		padding: $space/1.25 $space/4;
		color: $black80;
		white-space: nowrap;

		&:hover {
			color: darken($red_brand,20%);
		}
	}

	.nav__item.current a {
		color: $red_brand;
	}

	@media #{$large} {
		.nav__item a {
			padding: $space/1.25 $space/4;
		}
	}
}

.inpage-nav {
	transition: transform .3s ease;
	overflow-x: auto;

	.flexbox & {
		overflow-x: visible;
	}

	&:before {
		display: none;
		content: '';
		width: 100%;
		transition: width .3s ease;
		will-change: width;
	}

	@media #{$medium} {
		&:before {
			display: block;
		}
	}
}

.inpage-nav .book-trigger {
    background: $yellow_brand;
    position: absolute;
    height: 100%;
    padding: 8px 12px;
    width: 45%;
    top: 0;
    left: 100%;
    transform: translateX(25px);
    display: none;
}

.inpage-nav.is-active {
	position: fixed;
	top: 0;
	transform: translateY(59px);
	z-index: 3;
    box-shadow: 0 -20px 0 20px #EEE;

	&:before {
		box-shadow: 0 0px 0 1px #FFF, 0 2px 9px rgba($black, 0.3);
		width: 360%;
	}

	@media #{$large} {
		transform: translateY(49px);

        .book-trigger {
            display: flex;
        }
	}
}

[data-toggle="slide"] {

	.toggle-panel {
		max-height: 0px;
		overflow: hidden;
		transition: max-height .4s ease;
	}

	&.is-active {
		.toggle-panel {
			max-height: 2000px;
		}
	}
}

.nav-filter {
	.current {
		.btn {
			background: $red_brand;
			color: #FFF;
		}
	}
}

.toggle-panel--slideup {
	max-height: 0px;
	overflow: hidden;
	transition: max-height .4s ease;

	&.is-active {
		max-height: 2000px;
		overflow: visible;
	}
}

.row-sort {
	background: $blue_brand;
	color: #FFF;
	font-size: 13px;

	.btn-sort, 
	.btn-filter {
		padding: .8em 2.4em .8em .8em;
	}

	@media #{$medium} {
		display: flex;

		> ul {
			flex-grow: 1;
		}
	}

	> ul {
		display: flex;
		align-items: center;

		@media #{$medium} {
			&:not(:first-child) {
				border-left: 1px solid #FFF;
			}
		}
	}

	li.label-nav {
		flex-shrink: 1;
		flex-grow: 0;
		padding: 0 $space/2;
		// border-left: 1px solid #FFF;

		> span {
			padding-top: $space/4;
			padding-bottom: $space/4;
		}
	}

	li {
		flex-grow: 1;
		position: relative;
	}

	li:not(:first-child) {
		// border-left: 1px solid #FFF;
	}

	.btn {
		width: 100%;
		text-align: left;
		background: transparent;
		color: #FFF;
		border: none;
		white-space: nowrap;

		&:hover, &:focus {
	        background: rgba($black,0.15);
	    }
	}

	.btn-sort.is-asc {
		&:after {
			opacity: .2;
		}
		&:before {
			border-bottom-color: $yellow_brand;
		}
	}

	.btn-sort.is-desc {
		&:before {
			opacity: .2;
		}
		&:after {
			border-top-color: $yellow_brand;
		}
	}
}

.btn-sort input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
}

.row-sort .btn-filter {
	&.is-active {
		color: #FFF;
		background: rgba($black, 0.2);
	}
}

.row-sort .toggle-panel {
	position: absolute;
	z-index: 3;
	background: lighten($black10, 7%);
	color: $black70;
	width: 200px;
	top: 100%;
	right: 0;
	box-shadow: 0 2px 8px rgba($black, 0.2);
	opacity: 0;
	pointer-events: none;

	&.time-filter {
		width: 300px;
	}

	&.is-active {
		opacity: 1;
		pointer-events: auto;
	}

	li {
		display: block;
	}

	.btn-label {
		position: relative;
		white-space: nowrap;
		display: flex;
		align-items: center;
		width: 100%;
		padding-left: $space*1.5;
		padding-right: 32px;

		input {
			left: 8px;
		}

		> span {
			flex-grow: 1;
		}

		input:checked ~ span {
			color: $link;
		}

		img {
			position: absolute;
			top: 8px;
			right: 8px;
			object-fit: contain;
		}
	}
}

.row-sort .is-active .toggle-panel {
	opacity: 1;
	pointer-events: auto;
}

.toggle-fyout-m {
	position: relative;

	.nav-overlay {
		// position: fixed;
		// z-index: 2;
		// width: 100%;
		// height: 100%;
		// top: 0;
		// left: 0;
	}

	.btn-toggle .btn-icon {
		position: relative;
		display: inline-block;
		transition: transform .3s ease;
	}

	.toggle-panel {
		max-height: 0px;
		transition: max-height .3s ease;
		overflow: hidden;
	}

	&.is-active {
		.toggle-panel {
			max-height: 1000px;
		}

		.btn-toggle .btn-icon {
			transform: rotate(180deg);
		}
	}

	@media #{$medium} {
		.toggle-panel {
			position: absolute;
			z-index: 3;
		}


	}
}

.filter-toggle {
	position: relative;
	z-index: 5;
	bottom: 0;
	left: 0;
	width: 100%;

	.nav-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
	}

	.btn-toggle {
		position: fixed;
		z-index: 2;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #FFF;
		border-color: transparent;
		border-top: 1px solid $black20;
		font-size: 16px;
		transition: width .3s ease;

		.label-close {
			display: none;
		}
	}

	.filter-submit {
		display: none;
		position: fixed;
		bottom: 0;
		right: 0;
		width: 50%;
	}

	.toggle-panel {
		position: fixed;
		z-index: 1;
		background: #FFF;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		// overflow-y: auto;
		padding: 60px 0 45px;
		transform: translateY(0);
		transition: transform .3s ease;

		form {
			height: 100%;
		}
	}

	.field-group {
		height: 100%;
		overflow-y: auto;
		padding: 0 16px;
	}

	&.is-active {
		.btn-toggle {
			width: 50%;

			.label-open {
				display: none;
			}

			.label-close {
				display: inline-block;
			}
		}

		.filter-submit {
			display: block;
		}

		.toggle-panel {
			transform: translateY(-100%);
		}
	}

	@media #{$medium} {
		// position: static;

		.btn-toggle {
			display: none;
		}

		.toggle-panel {
			position: static;
		}

		.filter-submit {
			position: static;
			width: 100%;
			display: inline-block;
			border-radius: 6px;
		}
	}
}

.row-sort .input-switch {
	.btn-sort {
		&:before, &:after {
			opacity: .2;
		}
		&:before {
			border-bottom-color: #FFF;
		}
		&:after {
			border-top-color: #FFF;
		}
	}

	&.is-selected {
		.btn-sort.is-asc:before {
			border-bottom-color: $yellow_brand;
			opacity: 1;
		}
		.btn-sort.is-desc:after {
			border-top-color: $yellow_brand;
			opacity: 1;
		}
	}
}
