
// Config
// ------------------------------------------------------------------------ //

$pagination_padding         : ($space / 4) ($space / 2);

$pagination_border          : #ddd;
$pagination_color           : $blue_brand;
$pagination_bg              : #FFF;

$pagination_active_border   : darken($blue_brand,10%);
$pagination_active_color    : #FFF;
$pagination_active_bg       : $blue_brand;


// Style
// ------------------------------------------------------------------------ //

/*ul|ol*/.pagination {
    padding: 0;
    margin: 0 0 $space 0;
    list-style: none;
    text-align: center;
    user-select: none;


    &.text-right {
        text-align: right;
    }

    li {
        display: inline-block;
        box-shadow: 2px 2px 7px rgba($black,0.15);
    }

    &.text-right li:not(:last-child) {
        margin-right: -4px;
    }

    a {
        display: block;
        padding: $pagination_padding;
        border: solid 1px $pagination_border;
        color: $pagination_color;
        background: $pagination_bg;

        &:hover,
        &:focus,
        &.active {
            border-color: $pagination_active_border;
            color: $pagination_active_color;
            background: $pagination_active_bg;
        }

        &.active {
            cursor: default;
            pointer-events: none;
        }
    }
}
