.path-line {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-bottom: 160px;
	overflow-x: auto;
	counter-reset: path;

	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 98%;
		border-top: 4px solid $black20;
		top: 13px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.path-line__item {
	position: relative;
	z-index: 2;
	font-weight: bold;

	.item-number {
		position: relative;
		display: flex;
		width: 30px;
		height: 30px;
		background-color: #FFF;
		border-radius: 50%;
		border: 4px solid $black20;
		align-items: center;
		text-align: center;
		justify-content: center;
		line-height: 1;
		font-size: 9px;

		> span {
			font-weight: 900;
		}

		.num {
			display: block;
			width: 100%;
			// counter-increment: path;
  			// content: counter(path);
  			// content: '1';
		}

		.num:before {
			counter-increment: path;
  			content: counter(path);
		}
	}

	&:nth-child(-n+9) {
		.item-number .num:before {
	  		content: '0'counter(path);  
		}
	}

	.item-text {
		position: absolute;
		display: block;
		white-space: nowrap;
		left: 0;
		top: 50%;
		transform-origin: bottom left;
		transform: rotate(90deg);
		color: $blue_brand;
		font-size: 13px;
	}
}

.title-in-block {
	display: inline-block;
	padding: $space/4 $space/3;
	color: #FFF;
	background-color: $black30;
}

.title-infos {
	display: flex;
	align-items: center;

	.initial {
		position: relative;
		z-index: 2;
		display: block;
		width: 32px;
		height: 32px;
		line-height: 24px;
		border-radius: 50%;
		text-align: center;
		vertical-align: middle;
		border: 4px solid $black30;
		flex: 0 1 32px;
		background-color: #FFF;
		font-weight: 900;
	}

	.status {
		display: inline-block;
		background-color: $black20;
		padding: 0 $space/2;
		margin-left: -8px;
	}
}

.list-interest {
	counter-reset: station;

	dl {
		margin-top: 0;
	}

	dt {
		height: $space*2.5;
		font-size: 14px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $black30;
		color: #FFF;
		line-height: 1.2;
		padding: $space/4;
		margin-bottom: $space/4;
		
		.dl-count:before {
			counter-increment: station;
	  		content: counter(station);  
		}

		&:nth-child(-n+9) {
			.dl-count:before {
		  		content: '0'counter(station);  
			}
		}
	}
}

@mixin skinColor($color) {
	.path-line:before {
		border-top-color: $color;
	}

	.path-line__item .item-number {
		border-color: $color;
	}

	.title-in-block {
		background-color: $color;
	}

	.title-infos {
		.initial {
			border-color: $color;
		}

		.status {
			background-color: lighten($color, 30%);
		}
	}

	.list-interest {
		dt {
			background-color: $color;
		}

		.btn--ghost, .btn--ghost:visited {
			border-color: $color;
			border-width: 1px;
			padding: $space/4 $space/3;
		}

		.btn--ghost:hover, .btn--ghost:focus {
			background-color: $color;
			color: #FFF;
		}
	}
}

.skin-orange {
	@include skinColor($orange_brand);
}

.skin-red {
	@include skinColor($red_brand);
}

.skin-cyan {
	@include skinColor($cyan_brand);
}

.skin-green {
	@include skinColor($green_brand);
}

.skin-gold {
	@include skinColor($gold_brand);
}

.skin-purple {
	@include skinColor($purple_brand);
}

.skin-tosca {
	@include skinColor($tosca_brand);
}

.skin-brown {
	@include skinColor($brown_brand);
}

.skin-grey {
	@include skinColor($black40);
}