.notif, .notif .overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.notif {
	position: fixed;
	z-index: 20;
	text-align: center;
	opacity: 0;
	transition: opacity .5s ease-in-out;

	.overlay {
		background: rgba(#FFF, .5);
		position: absolute;
		z-index: 0;
	}

	.btn-close {
		position: absolute;
		top: 0;
		right: 0;
		width: 32px;
		height: 32px;
		border: none;
		background: transparent;
		color: #FFF;
		// text-shadow: 0 1px 3px rgba($black,0.2);

		&:hover, &:focus {
			background: rgba($black,0.2);
		}
	}

	.notif__box {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -10%);
		width: 90%;
		max-width: 360px;
		padding: 32px;
		background: #FFF;
		box-shadow: 0 5px 15px rgba($black, 0.5);
		transition: transform .6s ease-in-out;
	}

	.notif__box.notif--danger {
		background: lighten($red_brand, 10%);
		color: #FFF;

		.notif__icon {
			background-image: url('../img/icon-close.png');
		}
	}

	.notif__box.notif--success {
		background: lighten($green_brand, 10%);
		color: #FFF;

		.notif__icon {
			background-image: url('../img/icon-smile.png');
		}
	}

	.notif__box.notif--verified {
		background: lighten($blue_brand, 10%);
		color: #FFF;

		.notif__icon {
			background-image: url('../img/icon-verified.png');
		}
	}

	.notif__box.notif--info {
		background: lighten($yellow_brand, 35%);
		color: rgba($black, 0.7);

		.btn-close {
			color: $black;
			opacity: .5;
		}

		.notif__icon {
			background-image: url('../img/icon-info.png');
			opacity: .7;
		}
	}

	.notif__icon {
		display: inline-block;
		width: 60px;
		height: 60px;
		background-position: center;
		background-size: cover;
	}

    .notif__text {
        font-size: 18px;
    }
}

.notif.is-active {
	opacity: 1;

	.notif__box {
		transform: translate(-50%, -50%);
	}
}
