.promo-text {
	padding: $space 0;
}

.promo-text__slide {
	margin: 0 36px;
	font-weight: 700;


	.slick-list,
	.slick-track {
		height: 100%;
	}

	.slick-prev,
	.slick-next {
		color: $black40;
	}

	.slick-prev {
		transform: translate(-100%, -50%);
	}

	.slick-next {
		transform: translate(100%, -50%);
	}

	.promo__item {
		margin-left: -1px;
		border-left: 1px solid transparent;
		height: 100%;
		min-height: $space * 3;

		&.slick-active:not(:first-child) {
			border-left-color: $black30;
		}
	}

	.promo__item:not(:first-child) {
		display: none;

		&.slick-slide {
			display: block;
		}
	}

	.promo__item a {
		line-height: 1.4;
		color: $black60;
		padding: 0 $space;

		figure {
			margin-top: $space/3;
			margin-bottom: 0;
		}
	}
}