.add-rating {
	white-space: nowrap;

	.btn-star {
		position: relative;
		display: inline-block;
		overflow: hidden;
	}

	.btn-star:not(:first-child) {
		margin-left: -4px;
		padding-left: 6px;
	}

	.btn-radio {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		top: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}

	.icon-star {
		font-size: (24/16) *1em;
	}

	.btn-star.hover {
		color: lighten($yellow_brand,10%);
	}

	.btn-star.checked {
		color: $yellow_brand;
	}
}

$rateColor: $yellow_brand;

.rating {
	font-size: (24/16) *1em;
	padding: $space/4 0;
	color: $black20;

	.star-rating {
		margin: 0;
		position: relative;
	}

	.star-rating:after {
		// content: "\f089";
	}
}

.rating--solid {
	color: transparent;
}

.rating--smaller {
	font-size: 1em;
}

@for $i from 1 through 5 {
    .rate-#{$i} {
        .star-rating:nth-child(-n+#{$i}) {
        	color: $rateColor;
        }
    }

    .rate-point-#{$i} {
    	.star-rating:nth-child(-n+#{$i}) {
        	color: $rateColor;
        }

        .star-rating:nth-child(#{$i}) {
        	color: $black20;
        }

        .star-rating:nth-child(#{$i}):after {
			content: "\f089";
			color: $rateColor;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
        }
    }
}