
.responsive-media {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    background-color: lighten($black10, 6%);
    display: block;

    &.fill-none {
        background: none;
    }

    &.media--4-3 {
        padding-bottom: 75%;
    }

    &.media--3-2 {
        padding-bottom: (2/3) * 100%;
    }

    &.media--3-1 {
        padding-bottom: (1/2.9) * 100%;
    }
    &.square {
        padding-bottom: 99%;
    }
    &.media--8-1 {
        padding-bottom: (1/8) * 100%;
    }

    > *, > .slick-slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}