.section-slide-hero {
	position: relative;


	.container {

		width: 100%;
		max-width: none;

		@media #{$large} {
			// width: 95%;

	    }

	    @media #{$extra_large} {
	    	// width: 95%;
	    	// max-width: 1350px;
	    }
	}
}

.slider-hero {
	position: relative;
    display: none;

    &.slick-slider {
        display: block;
    }

	.slider__item img {
		max-width: none;
		width: 100%;
	}

	.slider__item:not(:first-child) {
		display: none;

		&.slick-slide {
			display: block;
		}
	}

	.slick-dots {
		position: absolute;
		right: 16px;
		bottom: 16px;
		width: auto;

		@media #{$large} {
			bottom: 62px;
		}
	}

	.slick-arrow {
		background: rgba(#FFF, 0.5);
		color: $blue_brand;
		transform: translateY(-60%);

		&:hover {
			background: #FFF;
		}

		&.slick-prev {
			left: $space/2;
		}

		&.slick-next {
			right: $space/2;
		}
	}
}

.slide-hero-arrows {
	display: none;

    @media #{$medium} {
    	display: block;
		position: absolute;
		z-index: 3;
		width: 95%;
	    max-width: 1220px;
	    margin: 0 auto;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);

	    .slick-arrow {
			font-size: 44px;
			padding: 8px;
			color: #FFF;
			text-shadow: 0 1px 8px rgba($black, 0.4);
			opacity: .8;
	    }

	    .slick-arrow:hover {
			opacity: 1;
			text-shadow: 0 1px 12px rgba($black, 0.7);
	    }
    }

    @media #{$extra_large} {
        max-width: 1350px;
    }
}
