.slide-default {
	.slick-list, .slick-track {
		height: 100%;
	}

	.slide__item:not(:first-child) {
		display: none;
		height: 100%;

		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		&.slick-slide {
			display: block;
		}
	}

	.slide__item {
		position: relative;
	}

	.slide-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: $space/2 $space;
		background: rgba(#FFF,0.85);
	}
}

.slide-thumb {
	visibility: hidden;

	&.slick-slider {
		visibility: visible;
	}

	.slide-thumb__item {
		transition: box-shadow .2s ease;
		max-height: 100px;

		&:not(:first-child) {
			display: none;

			&.slick-slide {
				display: block;
			}
		}
	}

	.slide-thumb__item:hover {
		box-shadow: 0 0 0 2px rgba($blue_brand, 0.5);
		cursor: pointer;
	}

	.slide-thumb__item.slick-current {
		box-shadow: 0 0 0 4px $blue_brand;
	}
}

.why-slide {
	margin-left: -25px;
	display: flex;

	.slick-list {
		border-radius: 60px;
	}

	.slick-track {
		display: flex;
		align-items: stretch;

		&:before, &:after {
			display: none;
		}
	}

	.slick-slide {
		float: none;
		padding-left: 25px;
		align-self: stretch;
	}

	.slick-dots {
		padding-left: 25px;
	}
}

.why-slide__item {
	color: $blue_brand;
	line-height: 1.2;

	> * {
		height: 100%;
		background: #FFF;
		padding: 14px 16px;
		border-radius: 60px;
		align-items: center;

		figure {
			margin-top: 8px;
			margin-bottom: 8px;
		}
	}
}

.slide-on-mobile {
    // display: none;

    .slick-disabled {
        opacity: .2;
        pointer-events: none;
    }

    &.bzg {
        margin-left: 0;
    }

    &.coverSlide {
    .slides__item, .bzg_c {
        position: relative;
        padding-left: 4px;
        padding-right: 4px;
        // transform: translate3d(0px, 0px, -100px) scale(.8);
        transform-origin: left;
        transition: all .3s ease;
        opacity: .6;
        will-change: transform;
        // perspective: 360px;
        // transform-style: preserve-3d;
        backface-visibility: hidden;

        .card__item {
            transform-style: preserve-3d;
            position: relative;
            // transform: rotateY(-20deg);
            transition: all .3s ease;
            transform-origin: left;
        }

        &.slick-cloned[data-slick-index="-1"],
        &.prev-slide {
            transform-origin: right;

            .card__item {
                // transform: rotateY(20deg);
                transform-origin: right;
            }
        }

        &.slick-current {
            transform: scale(1);
            opacity: 1;

            .card__item {
                transform: rotateY(0deg);
            }
        }
    }
    }

    &.coverSlide .slick-list {
        &:before, &:after {
            content: '';
            display: block;
            height: 100%;
            width: 50px;
            position: absolute;
            top: 0;
            background: linear-gradient(to right, #FFF, rgba(#FFF, .5) 30%, rgba(#FFF,0));
            // opacity: .7;
            pointer-events: none;
            z-index: 3;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
            transform: rotate(180deg);
        }

        @media #{$medium} {
            &:before,
            &:after {
                display: none;
            }
        }
    }

	.slick-dots {
		// padding-left: 25px;
	}

    @media #{$medium} {
        &.slick-slider {
            display: block;
        }

        &.bzg {
            margin-left: $BZG_GUTTER * -1;
        }

        &.coverSlide {
        .slides__item, .bzg_c {
            transform: translate3d(0, 0, 0) scale(1);
            padding-left: $BZG_GUTTER;
            opacity: 1;

            &.prev-slide .card__item,
            .card__item {
                transform: rotateY(0deg);
            }
        }
        }
    }

    @media #{$large} {
        display: block;

        &.bzg {
            display: flex;
        }

        .slides__item, .bzg_c {
        }
    }
}

.slide-on-mobile.slide-push-arrow {
	.slick-slide {
		margin: 0;
		padding: 0 12px;
	}
}

.slide-basic {
    display: none;

    &.slick-slider {
        display: block;
    }


}

.qr-slide-wrapper {
    display: flex;
    align-items: center;
    padding-right: 35px;

    .qr-banner {
        flex-grow: 1;
    }

    .qr-code {
        width: 72px;
        height: 72px;
        flex-basis: 72px;
        flex-shrink: 0;
        margin-left: 16px;
        border: 1px solid $black10;
        min-width: 1px;
    }

    @media #{$large} {
        .qr-code {
            margin-left: 32px;
            width: 100px;
            height: 100px;
            flex-basis: 100px;
        }
    }
}
