.sort-nav {
	margin-bottom: 18px;

	.label-nav {
		display: none;
	}

	.btn-toggle {
		width: 100%;
	}

	.toggle-panel {
		background: $black5;
		border: 1px solid $black20;
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		transition: all .25s ease;
	}

	&.is-active {
		.toggle-panel {
			max-height: 1000px;
			opacity: 1;
		}
	}

	@media #{$large} {

		.btn-toggle {
			display: none;
		}

		.label-nav {
			display: block;
		}

		.toggle-panel {
			padding-left: 16px;
			max-height: none;
			opacity: 1;
		}

		.toggle-panel, .toggle-panel ul {
			display: flex;
			align-items: center;
		}

		.toggle-panel ul {
			margin-left: 8px;
			flex-grow: 1;
		}
	}
}

.sort-nav__item {
	text-align: center;

	@media #{$large} {
		flex-grow: 1;
		border-left: 1px solid $black20;
	}
}

.sort-nav__item label {
	display: block;
	position: relative;
	padding: 8px;

	input, .label-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	input {
		z-index: 3;
		border-radius: 0;
		opacity: 0;
	}

	.label-bg {
		z-index: 1;
	}

	.label-text {
		position: relative;
		z-index: 2;
	}

	input:checked {
		~ .label-bg {
			background: $yellow_brand;
		}
	}
}