.mt {
	margin-top: $space;
}
.mt-half {
	margin-top: ($space/2);
}
.mt-small {
	margin-top: ($space/5);
}
.mt-2 {
	margin-top: ($space * 2);
}

.mr {
	margin-right: $space;
}
.mr-half {
	margin-right: ($space/2);
}
.mr-small {
	margin-right: ($space/5);
}
.mr-2 {
	margin-right: ($space * 2);
}

.mb {
	margin-bottom: $space;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.mb-half {
	margin-bottom: ($space/2);
}
.mb-2 {
	margin-bottom: ($space * 2);
}

.mb-small {
	margin-bottom: ($space/4);
}

.ml {
	margin-left: $space;
}
.ml-half {
	margin-left: ($space/2);
}
.ml-small {
	margin-left: ($space/4);
}
.ml-2 {
	margin-left: ($space * 2);
}

.m-0 {
	margin: 0;
}

// PADDING

.p-small {
	padding: $space/4;
}

.p-smaller {
    padding: $space/2;
}

.p-1 {
	padding: $space;
}

.p-8 {
	padding: 8px;
}

.p-16 {
	padding: 16px;
}

.pb {
	padding-bottom: $space;
}

.pb-half {
	padding-bottom: $space/2;
}

.pb-smaller {
	padding-bottom: $space/3;
}

.pb-small {
	padding-bottom: $space/4;
}

.pt {
	padding-top: $space;
}

.pt-2 {
	padding-top: $space*2;
}

.pt-small {
    padding-top: $space/4;
}

.pt-larger {
	padding-top: $space*1.5;
}

.pl {
	padding-left: $space;
}

.pl-2 {
	padding-left: $space*2;
}

.pl-small {
	padding-left: ($space/4);
}

.pr {
	padding-right: $space;
}

.pr-2 {
	padding-right: $space*2;
}

.pr-small {
	padding-right: ($space/4) !important;

}
.pr-small-l {

	@media #{$large} {
		padding-right: ($space/4);
	}
}

.pv-8 {
	padding-top: 8px;
	padding-bottom: 8px;
}

.pv-12 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.ph-12 {
	padding-left: 12px;
	padding-right: 12px;
}

.pv-16 {
	padding-top: 16px;
	padding-bottom: 16px;
}

.ph-16 {
	padding-left: 16px;
	padding-right: 16px;
}


.pull-left-2 {
	margin-left: $space * -2
}

.w-30 {
	width: 30px;
}
