.steps {
	width: auto;
	font-weight: 700;
	font-size: 1.25em;
	color: $blue_brand;
	counter-reset: steps;
}

.steps__item {
	position: relative;
	display: inline-block;
	margin: 0 $space/4 $space/4;
	padding: $space/8 $space/2;
	border: 2px solid $blue_brand;
	border-radius: 8px;
	min-width: 160px;
	text-align: left;
	transform: skew(20deg);
	vertical-align: middle;

	&:before {
		counter-increment: steps;
  		content: counter(steps);
  		position: relative;
		display: inline-block;
  		transform: skew(-20deg);
  		width: 32px;
  		height: 32px;
  		border-radius: 50%;
  		border: 1px solid $blue_brand;
  		text-align: center;
	}

	* {
		position: relative;
		display: inline-block;
		transform: skew(-20deg);
	}

	&.current {
		background-color: $blue_brand;
		color: #FFF;
		&:before {
			background-color: $yellow_brand;
			border-color: $yellow_brand;
			color: $blue_brand;
		}
	}
}