.tab-nav ul {
	position: relative;
	display: flex;
	overflow-x: auto;
}

.tab-nav__item {
	margin-right: 4px;

	a {
		display: block;
		display: flex;
		align-items: center;
		vertical-align: middle;
		padding: $space/3 $space/2;
		background: #FFF;
		height: 100%;
		white-space: nowrap;
	}

	.tab-icon {
		font-size: 1.25em;
		margin-right: $space/4;
	}
}

.tab-nav--overflow {
	text-align: center;

	> ul {

	}

	.tab-nav__item {
		font-size: .8em;

		a {
			line-height: 1.1;
			display: block;
		}

		.tab-icon {
			display: block;
			margin-right: 0;
			margin-bottom: $space/4;
			font-size: 1.5em;
			width: 100%;
		}
	}

	@media #{$large} {
		.tab-nav__item {
			font-size: 1em;

			a {
				display: flex;
				white-space: nowrap;
			}

			.tab-icon {
				display: inline-block;
				margin-right: $space/4;
				margin-bottom: 0;
                font-size: 1.2em;
			}
		}
	}
}

.tab-panel {
	position: fixed;
	opacity: 0;
	transform: translateX(-200%);
	pointer-events: none;

	&.is-active {
		position: static;
		opacity: 1;
		transform: translateX(0);
		transform: none;
		pointer-events: auto;
	}
}

.tab-nav--circle ul {
	display: flex;
	justify-content: space-between;
	overflow-x: auto;
}

.tab-nav--circle .tab-nav__item{
	text-align: center;
	font-weight: 900;

	a {
		// display: block;
		width: 48px;
		height: 48px;
		// line-height: 38px;
		border-radius: 50%;
		border: 6px solid $black30;
		text-transform: uppercase;
		margin: 2px;
		color: $black40;
		font-size: 20px;
		justify-content: center;
	}

	.btn-circle-orange {
		border-color: $orange_brand;
	}

	.btn-circle-red {
		border-color: $red_brand;
	}

	.btn-circle-green {
		border-color: $green_brand;
	}

	.btn-circle-cyan {
		border-color: $cyan_brand;
	}

	.btn-circle-tosca {
		border-color: $tosca_brand;
	}

	.btn-circle-gold {
		border-color: $gold_brand;
	}

	.btn-circle-brown {
		border-color: $brown_brand;
	}

	.btn-circle-purple {
		border-color: $purple_brand;
	}

	.btn-circle-grey {
		border-color: $black40;
	}

	&.is-active {
		a {
			box-shadow: 0 0 0 2px $black;
			color: $black;
		}
	}
}

[data-panel-target] {
	display: inline-block;
	padding: 4px 8px;
	color: $black70;

	&.is-active {
		color: $link;
	}
}

.panel-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height .1s ease;

	&.is-active {
		max-height: 2000px;
	}
}

