/*--------------------------------*\

    Responsive Table
    structure:

    table
    -thead
    --tr
    ---th
    -tbody
    --tr
    ---td

    Available modifier:
    * table--responsive
    * table--zebra
    * table--compact

\*--------------------------------*/

// Base style
// ------------------------------------------------------------------------ //

$table_cell_padding         : .4em;
$table_cell_padding_compact : .2em .4em;

$table_background           : lighten($black10, 7%);
$table_border               : rgba($black,0.1);
$table_zebra                : lighten($black10, 3%);
$table_thead_background     : $black20;

$table_border_prop          : "solid 1px " + $table-border;

/*table*/.table {
    text-align: left;
    background: $table_background;

    thead {
        background: $table_thead_background;

        tr {
            border-top: unquote($table_border_prop);
        }
    }

    tr {
        border-bottom: unquote($table_border_prop);
    }

    th,
    td {
        padding: $table_cell_padding;
        border-right: unquote($table_border_prop);

        &:first-child {
            border-left: unquote($table_border_prop);
        }
    }
}

.table--responsive {
    @extend .clearfix;

    position: relative;
    display: block;

    @media #{$medium} {
        display: table;
    }

    thead {
        display: block;
        float: left;
        border-left: unquote($table_border_prop);

        @media #{$medium} {
            float: none;
            display: table-header-group;
            border-left: none;
        }

        tr {
            display: block;

            @media #{$medium} {
                display: table-row;
            }
        }
    }

    tbody {
        position: relative;
        display: block;
        width: auto;
        overflow-x: auto;
        white-space: nowrap;

        @media #{$medium} {
            display: table-row-group;
            white-space: normal;
        }

        tr {
            display: inline-block;
            border-top: unquote($table_border_prop);
            margin-left: -4px;

            @media #{$medium} {
                display: table-row;
                border-top: none;
            }
        }
    }

    th,
    td {
        display: block;

        &:first-child {
            border-left: none;

            @media #{$medium} {
                border-left: unquote($table_border_prop);
            }
        }

        @media #{$medium} {
            display: table-cell;
        }
    }

    th + th,
    td + td {
        border-top: unquote($table_border_prop);

        @media #{$medium} {
            border-top: none;
        }
    }
}

.table--zebra {
    tbody {
        tr:nth-child(2n) {
            background: $table-zebra;
        }
    }
}

.table--compact {
    th,
    td {
        padding: $table-cell-padding-compact;
    }
}

.table-container {
    overflow-x: auto;
}

.table--big-gap {
    td, th {
        padding: .4em;
    }

    @media #{$medium} {
        td, th {
            padding: .4em 1.5em .4em .4em;
        }
    }
}

.table--auto {
    width: auto;
    min-width: 50%;
}

.table--line {
    td, th {
        padding: $space/3;
    }

    > thead, > tbody > tr:not(:last-child) {
        border-bottom: 1px solid $black20;
    }
}

th, td {
    p {
        margin-bottom: $space/2;
    }
    > p:last-child {
        margin-bottom: 0;
    }
}

.table--white {
    background: #FFF;

    thead {
        background: #FFF;
        text-align: center;
    }
}

.table--white-body {
    background: #FFF;
}

.cell--top {
    vertical-align: top;

    td {
        vertical-align: top;
    }
}

.table--plain {
    tr {
        border-bottom: none;
    }
    td, th {
        padding: 4px 4px 4px 0;
    }
}

.table-total {
    tfoot {
        border-top: 1px solid $black20;
    }
}

.table--border {
    border: 1px solid $black10;

    tr:not(:last-child) {
        border-bottom: 1px solid rgba($black, 0.1);
    }

    td:not(:first-child) {
        border-left: 1px solid rgba($black, 0.1);
    }
}

.table-plain {
    // td {
    //     padding: 4px 8px;
    // }
}

.table-items {
    .head-item {
        display: none;
    }

    @media #{$large} {
        .head-item {
            display: flex;
            border-top: 1px solid $black20;

            &>[data-col]:not(:first-child) {
                border-left: 1px solid $black20;
            }
        }
    }

    .item-head-title {
        color: #FFF;
    }

    .top-item {
        background-color: lighten($blue_brand,55%);

        .item-head-title {
            background-color: lighten($blue_brand,30%);
        }
    }

    .best-item {
        background-color: $black10;

        .item-head-title {
            background-color: $black40;
        }
    }

    .body-item [data-col] > *:not(.btn) {
        display: flex;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
    }

    .body-item > * > * > [data-col] {
        border-top: 1px solid rgba($black,0.1);
    }

    .body-item > * > * > [data-col]:not(:first-child) {
        border-left: 1px solid rgba($black,0.1);
    }

    .panel-toggle {
        max-height: 0px;
        overflow: hidden;
        transition: max-height .3s ease-in-out;
    }

    [data-toggle].is-active {
        .panel-toggle {
            max-height: 2000px;
            border-top: 1px solid rgba($black,0.1);
        }
    }
}

.table--fixed {
    table-layout: fixed;
}

.table--summary {
    $borderblue : lighten($blue_brand, 55%);
    $border_1 : 1px solid $borderblue;
    background-color: lighten($blue_brand, 64%);
    border-top: 4px solid $borderblue;
    border-left: $border_1;

    tr {
        border-bottom: $border_1;
    }

    th, td {
        // border-top: 1px solid #FFF;
        box-shadow: inset 1px 1px 1px #FFF;
        &:not(:first-child) {
            
        }
    }

    th {
        padding: 8px 10px;
        border-right: $border_1;
    }

    td {
        padding: 10px;
        border-right: $border_1;
    }
}
