.tool-tip {
	position: fixed;
	z-index: 66;
	pointer-events: none;
	background: darken($blue_brand, 15%);
	color: $black10;
	font-size: .85em;
	width: 90%;
	max-width: 580px;
	padding: 12px 16px;
	opacity: 0;
	border-radius: 4px;
	pointer-events: none;

	&.is-active {
		opacity: 1;
		position: absolute;
		pointer-events: auto;

		&.is-bottom {
			transform: translateY(-100%);
			margin-top: -7px;
		}

		&.is-top {
			margin-top: 7px;
		}

		&.is-bottom.is-center {
			transform: translate(-50%, -100%);
		}

		&.is-bottom.is-right {
			transform: translate(-100%, -100%);
		}

		&.is-top.is-center {
			transform: translate(-50%, 0);
		}

		&.is-top.is-right {
			transform: translate(-100%, 0);
		}
	}
}

.tool-tip--auto {
	width: auto;
}

.tip-content {
	display: none;
}

[data-target-content] {
	position: relative;

	&:before {
		content: '';
		display: block;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid darken($blue_brand, 15%);
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, 0);
		opacity: 0;
	}

	&:hover:before {
		opacity: 1;
	}

	&.is-bottom:before{
		top: 0;
		transform: translate(-50%, -100%) rotate(180deg);
	}
}