
$z_indexes: ();

@each $item in map-keys($z_indexes) {
    .#{$item} {
        z-index: index(map-keys($z_indexes), $item);
    }

    $children: map-get($z_indexes, $item);

    @each $child in $children {
        .#{$child} {
            z-index: index($children, $child);
        }
    }
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.zi-20 {
    z-index: 20 !important;
}