@charset "UTF-8";

// /*!
//  * Pikaday
//  * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
//  */
$todaycolor     : $green_brand;
$selectedday    : lighten($blue_brand, 8%);
$endrangeday    : $blue_brand;
$availableday   : lighten($red_brand, 8%);
$inrangeday     : lighten($blue_brand, 20%);

.pika-single {
    z-index: 30;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// /*
// clear child float (pika-lendar), using the famous micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
// */
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 280px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 8px;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: $availableday;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    // color: $orange_brand;
    background: $todaycolor;
    font-weight: bold;
}

.is-selected .pika-button,
.has-event .pika-button {
    color: #fff;
    font-weight: bold;
    background: $selectedday;
    // border-radius: 3px;
}

.has-event .pika-button {
    // background: #005da9;
    // box-shadow: inset 0 1px 3px #0076c9;
}

.is-disabled .pika-button {
    background: #D5E9F7;
}
.is-inrange .pika-button {
    // background: #D5E9F7;
    background: $inrangeday;
}

.is-startrange .pika-button {
    color: #fff;
    background: $selectedday;
    box-shadow: none;
    // border-radius: 3px;
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        margin-top: -6px;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid $inrangeday;
    }
}

.is-endrange .pika-button {
    color: #fff;
    background: $endrangeday;
    box-shadow: none;
    position: relative;
    // border-radius: 3px;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        margin-top: -6px;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid $inrangeday;
    }
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.is-outside-current-month .pika-button {
    color: #999;
    opacity: .3;
}

.is-selection-disabled {
    pointer-events: none;
    cursor: default;
}

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
    color: #fff;
    background: lighten($selectedday, 20%);
    box-shadow: none;
    // border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom: none;
    cursor: help;
}

// @import "pikatheme";

.pika-lendar table {
    tr th:first-child,
    tr th:last-child,
    tr td:first-child,
    tr td:last-child {
        background-color: lighten($red_brand,37%);

        .pika-button {
            background: lighten($availableday, 7%);
            color: #FFF;
        }

        .pika-button:hover {
            background: lighten($selectedday, 25%);
        }

        &.is-startrange .pika-button,
        &.is-selected .pika-button {
            color: #fff;
            background: $selectedday;
        }

        &.is-endrange .pika-button {
            color: #fff;
            background: $endrangeday;
        }

        // &.is-disabled .pika-button,
        &.is-inrange .pika-button {
            background: $inrangeday;
            color: lighten($inrangeday, 30%);
        }

        > button {
            background: transparent;
            color: $black60;
        }
    }
}

.pikaLabel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.pickdate-range {
    position: relative;
        width: 100%;

    &.is-active {
        position: fixed;
        top: 55px;
        left: 0;
        padding: 8px 16px;
        background: $blue_brand;
        z-index: 99;

        .form__row {
            width: 50%;
        }

        .picker-container {
            padding: 16px;
            pointer-events: auto;
            opacity: 1;
            // margin-left: -16px;
            // margin-right: -16px;
        }

        @media #{$large} {
            position: relative;
            top: 0;
            padding: 0;

            .picker-container {
                padding: 0;
            }
        }

    }
}

.picker-container {
    // display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // // padding: 16px;
    background: #FFF;
    opacity: 0;
    pointer-events: none;

    
    @media #{$large} {
        background: none;

        .btn-cancel {
            display: none;
        }
    }

    &.is-active {
        // position: fixed;
        // width: 100%;
        // height: 100vh;
        // top: 0;
        // z-index: 99;
    }
}
