/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;

    .flexbox & {
        // display: flex;
    }
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';

    .flexbox & {
        // display: none;
    }
}

.slick-track:after {
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;

    .flexbox & {
        // float: none;
    }
}
.slick-slide:focus {
    outline: none;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow {
    position: absolute;
    z-index: 3;
    line-height: normal;
    vertical-align: middle;
    padding: $space/3 $space/2;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover, &:focus {
        outline: none;
    }

    &.slick-next {
        right: 0;
    }
}

.slick-slider:hover .slick-arrow {
    background: rgba(#FFF,0.5);
}

//DOTS
.slick-dots {
    // position: absolute;
    // bottom: 16px;
    // right: 16px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1;

    li {
        display: inline-block;
        margin: 0 2px;
        line-height: 1;
    }

    button {
        padding: 0;
        background: #FFF;
        font-size: 0;
        text-indent: -20px;
        width: 14px;
        height: 14px;
        border: 1px solid $black10;
        border-radius: 50%;
        // opacity: .8;
        transition: opacity .25s ease;
        // box-shadow: 0 2px 5px rgba($black,0.15);
    }

    button:focus {
        outline: none;
    }

    .slick-active button {
        background: $black40;
        border-color: $black30;
        // opacity: 1;
    }
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}

.slide-push-arrow.slick-slider {
    margin: 0 40px;

    .slick-next {
        transform: translate(100%, -50%);
    }

    .slick-prev {
        transform: translate(-100%, -50%);
    }
}

.slide-off-arrow {
    
    @media #{$large} {
        .slick-next {
            transform: translate(100%, -50%);
        }

        .slick-prev {
            transform: translate(-100%, -50%);
        }
    }
}

.slide__item:not(:first-child) {
    display: none;

    &.slick-slide {
        display: block;
    }
}

.bzg.slide-3 {
    .slick-prev {
        left: 25px;
    }
}

.bzg.slide-3-max {
    .slick-dots {
        padding-left: 25px;
    }
}