@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/print";
@import "modules/typography";
@import "modules/media-export";

@page {
	// margin-top: 100px;
}

@page {
    @top-center { content: element(header) }
}

@media print {
	* {
		font-size: 15px;
	}
}

html {
	font-family: "Lato", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
}

body {
    // text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    color: $black80;
    overflow-x: hidden;
    width: 100%;
    // opacity: 1;
}

table {
	margin-bottom: 0;
}

table td {
	vertical-align: top;
}

.border-bottom {
	border-bottom: 1px solid $black30;
}

.table-border {
	border: 1px solid $black;

	th, td {
		border: 1px solid $black !important;
		padding: 6px;
	}

	&.v-center {
		th, td {
			vertical-align: middle;
		}
	}
}

.text-center {
	text-align: center;
}

.text-blue {
	color: $blue_brand;
}

.line-small {
	line-height: 1.1;
}

.bold {
	th, td {
		font-weight: bold !important;
	}
}

.mb-0 {
	margin-bottom: 0;
}

.mb-4 {
	margin-bottom: 4px;
}

.mb-8 {
	margin-bottom: 8px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-36 {
	margin-bottom: 36px;
}

.m-16 {
	margin: 16px;
}

.p-16 {
	padding: 16px;
}

.p-8 {
	padding: 8px;
}

.p-4 {
	padding: 4px;
}

.pr-8 {
	padding-right: 8px;
}

.pb-8 {
	padding-bottom: 8px;
}

.bg-lightblue {
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-top: 60px solid lighten($blue_brand, 60%);
		z-index: 1;
	}

	.bg-content {
		position: relative;
		z-index: 2;
	}
}

.header {
	position: relative;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
}

.header-main {
	display: block;
	max-height: 100px;
	text-align: left;

	img {
		// max-height: 80px;
	}
}

.header-graphic {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	height: 240px;
}

.main {
	padding: 40px 16px;
}