/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/typography";
@import "modules/baze-grid";
@import "modules/media";
@import "modules/flexbox";
@import "modules/buttons";
@import "modules/fonts-lato";
@import "plugin/font-awesome";
@import "plugin/flag-icon";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font-family: $lato;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.4;

    @media #{$medium} {
        font-size: $base_font_size;
        line-height: $base_line_height;
    }
}

body {
    // text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    color: $black80;
    overflow-x: hidden;
    width: 100%;
    // opacity: 1;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.block-larger {
    margin-bottom: $space * 1.5;
}

.block-half {
    margin-bottom: ($space / 2);
}

.block-small {
    margin-bottom: ($space / 4);
}

.no-space {
    margin: 0;
}

.no-border {
    border: none;
}

.container {
    width: 95%;
    max-width: 1107px;
    margin: 0 auto;

    @media #{$extra_large} {
        max-width: 1220px;
    }
}

.container--smaller {
    max-width: 954px;

    @media #{$extra_large} {
        max-width: 1080px;
    }
}

.container--small {
    max-width: 820px;
}

.container--min {
    width: auto;
    min-width: 480px;
    max-width: none;
}

// 3 Header
// ------------------------------------------------------------------------ //
@import "modules/header";

// 5 Footer
// ------------------------------------------------------------------------ //
@import "modules/footer";
body {
    opacity: 1;
}
