@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "modules/typography";
@import "modules/flexbox";

html {
    // font-family: $lato;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.4;

    @media #{$medium} {
        font-size: $base_font_size;
        line-height: $base_line_height;
    }
}

body {
    // text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    color: $black80;
    overflow-x: hidden;
    width: 100%;
    // opacity: 1;
}


.img-gen-container {
	max-width: 800px;
	// overflow-x: auto;
	margin: 0;
}

.img-gen {
	width: 800px;
	height: 800px;
	position: relative;
}

.img-gen__bg {
	position: absolute;
	z-index: 1;
	max-width: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.img-gen__content {
	position: relative;
	z-index: 2;
	width: 800px;
	height: 800px;
}

.img-gen__header {
	position: absolute;
	color: $blue_brand;
	top: 40px;
	left: 30px;

	.title {
		margin-bottom: 8px;
		font-size: 24px;
		font-style: italic;
	}
}

.img-gen__main {
	position: absolute;
	top: 180px;
	left: 62px;
	width: 680px;
}

.img-gen .itinerary-list {
	list-style: none;
	padding: 0;
	display: flex;
	height: 600px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	// position: absolute;
}

.img-gen .itinerary-day {
	width: 320px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;

	.itinerary-img {
		width: 139px;
		height: 142px;
		flex-shrink: 0;
		object-fit: cover;
		display: inline-block;
	}

	&:nth-child(1) {
		order: 1;

		.itinerary-img {
			transform: translate(-1px, 0);
		}

		.itinerary-detail {
			transform: translate(10px, 20px);
		}
	}

	&:nth-child(2) {
		order: 3;
		flex-direction: row-reverse;

		.itinerary-img {
			transform: translate(-3px, -14px) rotate(5deg);
		}

		.itinerary-detail {
			transform: translate(5px, 5px);
		}
	}

	&:nth-child(3) {
		order: 5;

		.itinerary-img {
			transform: translate(1px, -23px) rotate(-6deg);
		}

		.itinerary-detail {
			transform: translate(3px, -5px);
		}
	}

	&:nth-child(4) {
		order: 2;

		.itinerary-detail {
			transform: translate(10px, 20px);
		}
	}

	&:nth-child(5) {
		order: 4;
		flex-direction: row-reverse;

		.itinerary-img {
			transform: translate(-4px, 12px) rotate(4deg);
		}

		.itinerary-detail {
			transform: translate(8px, 15px);
		}
	}
	
	&:nth-child(2),
	&:nth-child(5) {
		.itinerary-detail {
			right: auto;
			left: 0;
		}
	}

	&:nth-child(even) {

	}

	.itinerary-detail {
		flex-shrink: 0;
		width: 164px;
		font-size: 11px;
		line-height: 1.25;
		font-weight: bold;
		position: absolute;
		right: 0;

		td {
			vertical-align: top;
			padding-bottom: 2px;
		}

		.label-time {
			padding-right: 6px;
		}
	}
}

.img-gen .list-reverse .itinerary-day {
	.itinerary-detail {
		right: auto;
		left: 0;
	}

	&:nth-child(1) {
		flex-direction: row-reverse;

		.itinerary-img {
			transform: translate(-3px, 0);
		}

		.itinerary-detail {
			transform: translate(-5px, 22px);
		}
	}

	&:nth-child(2) {
		flex-direction: row;

		.itinerary-img {
			transform: translate(-7px, -14px) rotate(-4deg);
		}

		.itinerary-detail {
			transform: translate(0px, 5px);
			left: auto;
			right: 0;
		}
	}

	&:nth-child(3) {
		flex-direction: row-reverse;

		.itinerary-img {
			transform: translate(-21px, -16px) rotate(3deg);
		}

		.itinerary-detail {
			transform: translate(-7px, -5px);
		}
	}

	&:nth-child(4) {
		flex-direction: row-reverse;

		.itinerary-detail {
			transform: translate(10px, 26px);
		}

		.itinerary-img {
			transform: translate(4px, 4px);
		}
	}

	&:nth-child(5) {
		flex-direction: row;

		.itinerary-img {
			transform: translate(6px, 10px) rotate(0deg);
		}

		.itinerary-detail {
			transform: translate(16px, 15px);
			left: auto;
			right: 0;
		}
	}
}










