/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font-family: $lato;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.4;

    @media #{$medium} {
        font-size: $base_font_size;
        line-height: $base_line_height;
    }
}

body {
    // text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    color: $black80;
    overflow-x: hidden;
    width: 100%;
    // opacity: 1;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.block-larger {
    margin-bottom: $space * 1.5;
}

.block-half {
    margin-bottom: ($space / 2);
}

.block-small {
    margin-bottom: ($space / 4);
}

.no-space {
    margin: 0;
}

.no-border {
    border: none;
}

.container {
    width: 95%;
    max-width: 1107px;
    margin: 0 auto;

    @media #{$extra_large} {
        max-width: 1220px;
    }
}

.container--smaller {
    max-width: 954px;

    @media #{$extra_large} {
        max-width: 1080px;
    }
}

.container--small {
    max-width: 820px;
}

.container--min {
    width: auto;
    min-width: 480px;
    max-width: none;
}

// 3 Header
// ------------------------------------------------------------------------ //
@import "modules/header";

// 4 Page styles
// ------------------------------------------------------------------------ //
.sticky-footer-container {
    padding-top: 58px;
    @media #{$large} {
        padding-top: 138px;
    }
}
.site-main {
    position: relative;
    z-index: 1;



}

@import "modules/slideHero";
@import "modules/home-booking";
@import "modules/promo-text";

.travel-support-slide {
    .card__item {
        margin: 0 $space/2;
    }

    .card__item:not(:first-child) {
        display: none;

        &.slick-slide {
            display: block;
        }
    }
}

// ROOM
.status-icon-RO {
    .icon-type-RO {
        opacity: .5;
    }
    .include {
        display: none;
    }
}

.status-icon-BB {
    .icon-type-BB {
        // opacity: .5;
    }
    .exclude {
        display: none;
    }
}

// 5 Footer
// ------------------------------------------------------------------------ //
@import "modules/footer";
body {
    opacity: 1;
}

// qcw-cs-container

.btn-whatsapp {
    display: block;
    position: fixed;
    z-index: 109;
    right: 2.5% !important;
    bottom: 20px;
    height: 54px;
    border-radius: 8px;
    overflow: hidden;
    width: 62px;

    picture,
    img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    img {
        object-fit: cover;
    }

    @media #{$medium} {
        width: 188px;
    }
}

.sticky-length .btn-whatsapp {
    bottom: 100px;
    // transform: translateX(-70px);

    @media #{$medium} {
        bottom: 20px;
        // height: auto;
        // transform: translateX(0);
    }
}

.qcw-container,
.qcw-cs-container {
    

    &.qcw-container--open {

    }

    @media #{$medium} {
        right: 2.5% !important;
        bottom: 77px !important;
    }
}

.qcw-trigger-btn {
    margin-right: 38px;
    box-shadow: 0 2px 3px rgba($black, 0.3) !important;
    
    > div {
        display: none;
    }

    @media #{$medium} {
        margin-right: 0;

        > div {
            display: block;
        }
    }
}

.sticky-length .qcw-trigger-btn {
    bottom: 80px !important;

    &.qcw-cs-trigger-button {
        bottom: 100px !important;
    }

    @media #{$medium} {
        bottom: 20px !important;
    }
}

.qcw-container.qcw-container--open .qcw-chat-wrapper {
    @media #{$large_short} {
        height: 400px !important;
    }
}

// 6 Banner Prompt
// ------------------------------------------------------------------------ //
.banner-install {
    position: fixed;
    z-index: 999999;
    top: 100%;
    left: 50%;
    background: #FFF;
    border-radius: 8px;
    border: 3px solid lighten($grey_blue, 40%);
    transform: translate(-50%, 0);
    transition: transform .4s ease;
    min-width: 300px;

    &.is-active {
        box-shadow: 0 2px 16px rgba($black, 0.3);
        transform: translate(-50%, -110%);
        opacity: 1 !important;
    }

    .btn {
        border-radius: 6px;
    }

    @media #{$large} {
        top: 0;
        left: auto;
        right: 16px;
        transform: translate(0, -105%);

        &.is-active {
            transform: translate(0%, 5%);
        }
    }
}
