@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";

// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font-weight: 400;
    font-size: $base_font_size;
    font-family: "Helvetica Neue", sans-serif;
    line-height: $base_line_height;
    background: $blue_brand;
}

body {
    // text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    color: #FFF;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #FFF;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link;
    }
}

.block {
    margin-bottom: $space;
}

.block-larger {
    margin-bottom: $space * 1.5;
}

.block-half {
    margin-bottom: ($space / 2);
}

.block-small {
    margin-bottom: ($space / 4);
}

.container {
    width: 95%;
    max-width: 680px;
    margin: 0 auto;
    padding: $space*2 0;
}

.container--smaller {
    // @media #{$extra_large} {
        max-width: 1080px;
    // }
}

.container--small {
    max-width: 820px;
}

.container--min {
    width: auto;
    min-width: 480px;
    max-width: none;
}

.text-center {
	text-align: center;
}

.text-ellipsis {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

$max_line      : 5 !default;

@for $i from 1 through $max_line {

    .ellipsis-#{$i} {
        $line   : 1.6em;
        display: block;
        display: -webkit-box;
        line-height: $line;
        height: $line * $i;
        overflow: hidden;
        line-clamp: $i;
        -webkit-line-clamp: $i;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical; 

        .title & {
            $line   : 1.2em;
            line-height: $line;
            height: $line * $i;
        }
    }

}

.text--smaller, .t--smaller  {
    font-size: .8em;
}

.text--larger, .t--larger {
    font-size: 1.25em;
}

.text--large, .t--large {
    font-size: 1.5em;
}

.t--huge {
    font-size: 2em;
}

.t--hero {
    font-size: 2em;
    @media #{$medium} {
        font-size: (58/15) * 1em;
    }
}

.t-strong {
    font-weight: 700;
}

.text-up {
    text-transform: uppercase;
}

.t--indent {
    padding-left: $space;
}

.btn {
	display: inline-block;
	padding: $space $space*2;
	border: 1px solid rgba($black,0.2);
	border-radius: $space/2;
	background: linear-gradient(to top, rgba(#FFF,0), rgba(#FFF, 0.1));
	box-shadow: 0 1px 2px rgba($black,0.2), inset 0 1px 1px rgba(#FFF, 0.3);
	color: rgba(#FFF, 0.8);

	&:hover, &:focus {
		color: #FFF;
		background: linear-gradient(to top, rgba(#FFF,0.05), rgba(#FFF, 0.15));
	}
}

.btn-social {
    display: inline-block;
    margin: 0 $space/4 $space/4;
}